:root {
    --dhbw-logo: url(dhbw_logo.png);
    --dhbw-text: url(dhbw_text.png);
    --dhbw-symbol: url(dhbw_symbol.png);
    --dhbw-symbol-sharp: url(dhbw_symbol-sharp.png);

    --dhbw-dark-red: rgb(140, 0, 17); /* found in the DHBW Logo */
    --dark-red: var(--dhbw-dark-red);
    
    --dhbw-red: rgb(226, 0, 26); /* found in the DHBW Logo */
    --red: var(--dhbw-red);
    
    --dhbw-light-red: rgb(255, 28, 54);
    --light-red: var(--dhbw-light-red);
    
    --dhbw-dark-gray: rgb(51, 65, 73); /* used by the text in the DHBW Logo */
    --dark-gray: var(--dhbw-dark-gray);
    
    --dhbw-gray: rgb(91, 105, 113); /* used by the text in the DHBW Logo */
    --gray: var(--dhbw-gray);

    --dhbw-light-gray: rgb(222, 226, 228); /* found in some brochures */
    --light-gray: var(--dhbw-light-gray);
}