ld-section>h1:first-child::before {
    content: var(--dhbw-logo);
    width: 205px;
    height: 100px;
    padding: 0 0 20px 40px;
    float: right;
    transform-origin: top left;
    transform: scale(0.375);
}