/*  Adds the DHBW logo

    Recall that there is only one section with an h1 tag, when rst2ld is used. */
ld-section > h1::before {
    content: var(--dhbw-logo);
    width: 205px;
    height: 100px;
    padding: 0 0 20px 40px;
    float: right;
    transform-origin: top left;
    transform: scale(0.375);
}
