.ld-slide {

    &.exercises::before {
        content: var(--dhbw-logo);
        display: block;
        position: absolute;
        top: 28px;
        right: var(--s-lr-padding);
        mix-blend-mode: multiply;
        /* makes it easier to use it on various backgrounds */
        transform: translateX(30%) translateY(-35%) scale(0.4);
    }

    &.new-section {

        display: flex;
        flex-direction: column;
        justify-content: center;

        &::after {
            content: var(--author);
            position: absolute;
            top: 1em;
            color: var(--dhbw-gray);
            font-size: 24px;
            font-variant: normal;
            font-weight: 200;
        }

        &::before {
            content: var(--dhbw-logo);
            position: absolute;
            top: -55px;
            right: -100px;
            scale: 0.50;
        }

        >h2 {
            border: 0;
            width: 100%;
            margin-left: calc(-2 * var(--s-lr-padding));

            padding: 0.8em 0.8em 0.8em 1.6em;
            border-radius: 0 calc(var(--s-border-radius) * 0.95) calc(var(--s-border-radius) * 0.95) 0;
            --current-background-color: var(--dhbw-dark-gray);
            background-color: var(--current-background-color);
            color: var(--white);
            font-size: 2.25em;
            font-family: var(--theme-large-serif-font-family);
            /*font-variant: small-caps;*/
            font-weight: 300;
            text-align: center;
            text-shadow: 1px 1px 1px white;
        }
    }
    
    .section-subtitle {
        font-weight: 300;
        text-align: center;
        width: 100%;
        margin-left: calc(-2 * var(--s-lr-padding));
        padding: 0.5em 0.8em 0.5em 1.6em;
        border-radius: 0 calc(var(--s-border-radius) * 0.95) calc(var(--s-border-radius) * 0.95) 0;
        --current-background-color: var(--dhbw-gray);
        background-color: var(--current-background-color);
        color: var(--dhbw-light-gray);
        text-shadow: -1px -1px 2px var(--dhbw-dark-gray);
    }

    &.new-subsection {
        
        &::after {
            content: var(--dhbw-logo);
            position: absolute;
            top: var(--s-tb-padding);
            right: calc(2.5 * var(--s-lr-padding));
            scale: 0.70;
            transform-origin: top right;
        }

        >h2 {
            color: var(--white);
            background-color: var(--dhbw-gray);
        }
    }
}