.ld-slide {

    &.exercises::before {
        content: var(--dhbw-logo);
        display: block;
        position: absolute;
        top: 28px;
        right: var(--slide-lr-padding);
        mix-blend-mode: multiply;
        /* makes it easier to use it on various backgrounds */
        transform: translateX(30%) translateY(-35%) scale(0.4);
    }

    &.new-section {

        display: flex;
        flex-direction: column;
        justify-content: center;

        &::before {
            content: var(--author);
            position: absolute;
            top: 1em;
            color: var(--dhbw-gray);
            font-size: 24px;
            font-variant: normal;
            font-weight: 200;
        }

        &::after {
            content: var(--dhbw-logo);
            position: absolute;
            top: 0px;
            right: 0px;
            scale: 0.50;
            translate: 100px -55px;
        }

        >h2 {
            border: 0;
            width: 100%;
            margin-left: calc(-2 * var(--slide-lr-padding));

            padding: 0.8em 0.8em 0.8em 1.6em;
            border-radius: 0 calc(var(--slide-border-radius) * 0.95) calc(var(--slide-border-radius) * 0.95) 0;
            background-color: var(--dhbw-dark-gray);
            color: white;
            font-size: 2.25em;
            font-family: var(--slide-large-serif-font-family);
            /*font-variant: small-caps;*/
            font-weight: 300;
            text-align: center;
            text-shadow: 1px 1px 1px white;
        }
    }

    &.new-subsection {
        
        &::after {
            content: var(--dhbw-logo);
            position: absolute;
            top: var(--slide-tb-padding);
            right: calc(2.5 * var(--slide-lr-padding));
            scale: 0.70;
            transform-origin: top right;
        }

        >h2 {
            color: var(--white);
            background-color: var(--dhbw-gray);
        }
    }
}