/*  Adds the DHBW logo to the title-slide (i.e., the only slide with an h1 element).

    If the slide has the class `animated-logo`, only the text part of the logo
    is statically added. The script `animated-logo.js` will add the symbol part 
    of the logo.
*/
#ld-slides-pane ld-slide:has(h1) {

    &:not(.animated-logo)::before {
        content: var(--dhbw-logo);
    }

    &.animated-logo::before {
        content: var(--dhbw-text);
        /* the symbol is added programmatically */
    }

    &::before {
        position: absolute;
        right: 48px;
        bottom: 40px;
        mix-blend-mode: multiply;
    }
}


