
.dhbw-red {
    color: var(--dhbw-red);
}

.dhbw-red-background {
    background-color: var(--dhbw-red);
}

.dhbw-light-gray {
    color: var(--dhbw-light-gray);
}

.dhbw-gray {
    color: var(--dhbw-gray);
}

.dhbw-dark-gray {
    color: var(--dhbw-dark-gray);
}

.dhbw-light-gray-background {
    background-color: var(--dhbw-light-gray);
}

.dhbw-gray-background {
    background-color: var(--dhbw-gray);
}

.dhbw-dark-gray-background {
    background-color: var(--dhbw-dark-gray);
}


