/* LAYER: ui.element.common (lowest priority ui related layer) */

.ld-ui {
    font-family: var(--ld-ui-font-family);
    font-size: var(--ld-ui-font-size);
    font-weight: var(--ld-ui-font-weight);

    color: var(--ld-ui-color);

    a:link,
    a:visited {
        color: var(--ld-ui-link-color);
    }

    input {
        /*  The following properties are potentially, explicitly set by 
            user-agent stylesheets. 
        */
        background-color: var(--ld-ui-background-color);
        font-weight: var(--ld-ui-font-weight);
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
}

/*******************************************************************************
    
    Styling of dialogs.

*******************************************************************************/

dialog.ld-ui {
    margin: auto;
    border-radius: var(--ld-ui-border-radius);

    color: var(--ld-ui-color);
    background-color: var(--ld-ui-background-color);
    box-shadow: var(--ld-ui-box-shadow);

    /*  We want to have a very subtle fade-in/out effect. 
        
        The value 500ms is also used in the JavaScript code to delay closing
        the dialog. 
    */
    &[open] {
        display: flex;
        flex-direction: column;

        animation: ld-dialog-fade-in 500ms ease-in forwards;

        &::backdrop {
            backdrop-filter: blur(2px);

            animation: ld-dialog-backdrop-fade-in 500ms ease-in forwards;
        }
    }

    &.ld-dialog-closing {
        animation: ld-dialog-fade-out 500ms ease-in forwards;

        &::backdrop {
            backdrop-filter: blur(2px);

            animation: ld-dialog-backdrop-fade-out 500ms ease-in forwards;
        }
    }

    .ld-dialog-footer,
    .ld-dialog-header {
        width: 100%;
        height: var(--ld-ui-dialog-footer-and-header-height);
        padding: var(--ld-ui-border-radius);

        flex-grow: 0;

        display: flex;

        color: var(--ld-ui-color);
        background-color: var(--ld-ui-dark-background-color);
    }

    .ld-dialog-header {
        span.ld-dialog-title {
            margin-right: 2em;
            flex-grow: 2;
            font-weight: bolder;
        }

        button.ld-dialog-close-button {
            width: var(--ld-ui-dialog-close-button-size);
            height: var(--ld-ui-dialog-close-button-size);

            flex-grow: 0;

            background-size: var(--ld-ui-dialog-close-button-size);
            background-color: transparent;
            background-image: var(--ld-ui-close-button);

            &:hover {
                background-image: var(--ld-ui-close-button-hover);
            }
        }
    }
}

@keyframes ld-dialog-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ld-dialog-fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ld-dialog-backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }

    100% {
        background-color: rgb(0 0 0 / 10%);
    }
}

@keyframes ld-dialog-backdrop-fade-out {
    0% {
        background-color: rgb(0 0 0 / 10%);
    }

    100% {
        background-color: rgb(0 0 0 / 0%);
    }
}
