/* LAYER: ui */

:root {
    /* Colors used by LectureDoc's UI */
    --ld-white: rgb(255 255 255);
    --ld-gray: rgb(91 105 113);
    --ld-darkgray: rgb(51 65 73);
    --ld-orange: color(display-p3 1 0.5 0);
    --ld-darkorange: oklab(from var(--orange) calc(l - 0.075) a b);
    --ld-darkred: rgb(140 0 17);
    --ld-lightred: rgb(255 158 158);

    /* SHARED PROPERTIES */
    --ld-ui-font-family:
        "Noto Sans Display", "Noto Sans", "Helvetica Neue", "Arial", sans-serif;
    --ld-ui-message-font-size: 24px;
    --ld-ui-font-weight: 300;
    --ld-ui-font-weight-bold: 500;
    --ld-ui-font-size: 14px;
    --ld-ui-border-radius: 0.8em;
    --ld-ui-small-border-radius: 0.2em;
    --ld-ui-dialog-footer-and-header-height: 2.25lh;
    --ld-ui-dialog-close-button-size: 18px;

    /*  COLOR SCHEME

        The default color scheme is the dark scheme.
    */
    --ld-ui-dark-background-color: rgb(27 26 26);
    --ld-ui-background-color: rgb(50 50 50 / 95%);
    --ld-ui-color: whitesmoke;
    --ld-ui-link-color: var(--ld-orange);
    --ld-ui-border-color: var(--ld-gray);
    --ld-ui-table-background-color: rgb(0 0 0 / 50%);
    --ld-ui-table-highlight-cell-background-color: var(
        --ld-ui-background-color
    );
    --ld-ui-warning-background-color: darkred;
    --ld-ui-warning-color: white;
    --ld-ui-box-shadow: 0px 0px 3px 3px black;
    --ld-ui-close-button: url("icons/white-cross.svg");
    --ld-ui-close-button-hover: url("icons/black-cross-on-white.svg");
    --ld-ui-message-color: var(--ld-white);
    --ld-ui-message-background-color: var(--ld-darkred);
}

@media (prefers-color-scheme: light) {
    :root {
        --ld-ui-dark-background-color: whitesmoke;
        --ld-ui-background-color: var(--ld-white);
        --ld-ui-color: var(--ld-darkgray);
        --ld-ui-link-color: var(--ld-darkorange);
        --ld-ui-border-color: var(--ld-gray);
        --ld-ui-table-background-color: rgb(255 255 255 / 50%);
        --ld-ui-table-highlight-cell-background-color: whitesmoke;
        --ld-ui-box-shadow: 0px 0px 3px 3px gray;
        --ld-ui-close-button: url("icons/black-cross-on-whitesmoke.svg");
        --ld-ui-close-button-hover: url("icons/white-cross-on-black.svg");
        --ld-ui-message-color: var(--ld-white);
        --ld-ui-message-background-color: var(--ld-lightred);
    }
}
