/* LAYER: ui */

:root {
    /* SHARED PROPERTIES */
    --ld-ui-message-font-size: 24px;
    --ld-ui-font-family: "Noto Sans Display", "Helvetica", "Arial", sans-serif;
    --ld-ui-font-weight: 300;
    --ld-ui-font-weight-bold: 500;
    --ld-ui-font-size: 14px;
    --ld-ui-border-radius: 0.8em;
    --ld-ui-small-border-radius: 0.2em;
    --ld-ui-dialog-footer-and-header-height: 34px;
    --ld-ui-dialog-close-button-size: 18px;

    /*  COLOR SCHEME

        The default color scheme is the dark scheme. 
    */
    --ld-ui-dark-background-color: rgb(27 26 26);
    --ld-ui-background-color: rgb(50 50 50 / 95%);
    --ld-ui-color: whitesmoke;
    --ld-ui-link-color: var(--orange);
    --ld-ui-border-color: var(--gray);
    --ld-ui-table-background-color: rgb(0 0 0 / 50%);
    --ld-ui-table-highlight-cell-background-color: var(
        --ld-ui-background-color
    );
    --ld-ui-box-shadow:
        2px 2px 3px black, -2px -2px 3px black, -2px 2px 3px black,
        2px -2px 3px black;
    --ld-ui-close-button: url("icons/white-cross.svg");
    --ld-ui-close-button-hover: url("icons/black-cross-on-white.svg");
    --ld-ui-message-color: var(--white);
    --ld-ui-message-background-color: var(--dark-red);
}

@media (prefers-color-scheme: light) {
    :root {
        --ld-ui-dark-background-color: whitesmoke;
        --ld-ui-background-color: var(--white);
        --ld-ui-color: var(--dark-gray);
        --ld-ui-link-color: var(--dark-orange);
        --ld-ui-border-color: var(--gray);
        --ld-ui-table-background-color: rgb(255 255 255 / 50%);
        --ld-ui-table-highlight-cell-background-color: whitesmoke;
        --ld-ui-box-shadow:
            2px 2px 3px gray, -2px -2px 3px gray, -2px 2px 3px gray,
            2px -2px 3px gray;
        --ld-ui-close-button: url("icons/black-cross-on-whitesmoke.svg");
        --ld-ui-close-button-hover: url("icons/white-cross-on-black.svg");
        --ld-ui-message-color: var(--white);
        --ld-ui-message-background-color: var(--light-red);
    }
}
