/* LAYER: ui.element */

#ld-exercises-passwords-dialog {
    min-width: 400px;
    min-height: 200px;
    max-height: 90vh;

    #ld-exercises-passwords-content {
        margin: 0.5em 0.75em;
        padding: 0;
        color: var(--ld-ui-color);
        overflow-y: scroll;

        /* We will either have the passwords field or the table, but never both. */
        input[type="password"] {
            width: 100%;
            padding: var(--ld-ui-border-radius);

            border: 1px solid var(--dhbw-light-gray);
            border-radius: var(--ld-ui-border-radius);
        }

        table {
            width: 100%;
            margin: 0;
            height: fit-content;
            border: none;

            td {
                padding-left: 0.5em;
                padding-right: 0.5em;
                border: none;
            }
            tr:has(+ tr) {
                td {
                    border-bottom: 1px solid var(--ld-ui-border-color);
                }
            }
            tr:not(:first-child) {
                td {
                    padding-top: 0.5em;
                }
            }
            tr:not(:last-child) {
                td {
                    padding-bottom: 0.5em;
                }
            }
        }

        .ld-unlock-global {
            width: 1em;
            height: 1.47em;

            background-size: 1em 1.47em;
            background-image: url("icons/lock-global.svg");

            &:hover {
                background-image: url("icons/unlock-global.svg");
            }
        }
    }
}
