/* LAYER: ui.element */

#ld-table-of-contents-dialog {
    ol {
        padding: 0 1em;
        margin: 0;
        background-color: var(--ld-ui-background-color);
        color: var(--ld-ui-color);

        list-style-position: inside;
        li {
            line-height: 200%;
        }
    }

    & > ol {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        overflow-y: scroll;
    }
}
