/* LAYER: common */

:root {
    /* 
    
        Definition of all used colors. 
        
    */
    --white: rgb(255 255 255);
    --very-very-light-gray: rgb(250 250 250);
    --very-light-gray: rgb(242 242 242);
    --light-gray: rgb(222 226 228);
    --semi-light-gray: rgb(184 186 188);
    --gray: rgb(91 105 113);
    --dark-gray: rgb(51 65 73);
    --very-dark-gray: rgb(31 31 31);
    --black: rgb(0 0 0);

    --very-light-green: rgb(245 255 225);
    --shiny-green: color(display-p3 0 1 0);
    --light-green: rgb(0 200 0);
    --green: rgb(0 150 0);
    --dark-green: rgb(0 88 0);
    --light-transparent-green: rgb(0 88 0 / 10%);

    --very-very-light-blue: rgb(245 245 255);
    --very-light-blue: rgb(235 236 247);
    --light-blue: rgb(165 172 255);
    --blue: rgb(45 62 255);
    --dark-blue: rgb(32 42 151);
    --very-dark-blue: rgb(21, 28, 99);

    --very-light-yellow: rgb(255 255 215);
    --light-yellow: color(display-p3 1 1 0.5);
    --yellow: #ff1;
    --dark-yellow: rgb(255 230 64);

    --orange: color(display-p3 1 0.5 0);
    --light-orange: oklab(from var(--orange) calc(l + 0.25) a b);
    --dark-orange: oklab(from var(--orange) calc(l - 0.075) a b);

    --very-very-light-red: rgb(255 225 225);
    --very-light-red: rgb(255 178 178);
    --light-red: rgb(255 158 158);
    --shiny-red: color(display-p3 1 0 0);
    --red: rgb(226 0 26);
    --dark-red: rgb(140 0 17);
    --very-dark-red: rgb(91, 0, 11);
    --light-transparent-red: rgb(131 0 0 / 10%);
}
