/* LAYER: common */

:root {
    /*  The rendering mode is either "section" oder "slide" and is set
        when the content is rendered in the respective mode. 

        Defined to enable container-style queries based on custom properties. */
    --ld-rendering-mode: none;
}
