/* LAYER: common */

/*  In the following, we define our understanding of colors.

    The **only** place, where these colors are expected to be used,
    is in the theme definitions.

    They are not expected to be directly used in other CSS files; in
    other CSS files only the semantic-based CSS colors are to be used. */

:root {
    --white: rgb(255 255 255);
    --whitesmoke: whitesmoke;
    --brightgray: #f0f0f0;
    --lightgray: lightgray;

    --trueblack: rgb(0 0 0);
    --textblack: #101010;
    --charcoal: #333333;
    --darkgray: #555;

    --floralwhite: floralwhite;
    --softvanilla: rgb(255 255 215);

    --vividlime: color(display-p3 1 1 0.5);
    --minttint: rgb(245 255 225);

    --pureelectricindigo: oklch(0.5 0.3 255);
    --deepelectricblue: oklch(0.52 0.28 252);
    --deepelectricindigo: oklch(0.52 0.3 255);
    --electricindigo: oklch(0.55 0.3 255);
    --luminousindigo: oklch(0.7 0.28 255);
    --vividblueindigo: oklch(0.68 0.28 252);
    --deepceruleanindigo: oklch(0.52 0.28 250);
    --aliceblue: aliceblue;
    --lightcyan: lightcyan;
    --clearskyblue: oklch(0.78 0.18 210);
    --deepvioletblue: oklch(0.4 0.28 272);
    --darkvioletblue: oklch(0.38 0.28 275);
    --darkblue: rgb(32 42 151);

    --darkgreen: rgb(0 88 0);

    --peachpuff: peachpuff;
    --mistyrose: mistyrose;
    --orange: orange;
    --darkorange: #ff7700;

    --honeygold: #ffd580;

    --red: rgb(226 0 26);
    --darkred: rgb(140 0 17);
    --deepred: rgb(91, 0, 11);

    /* TODO Remove: */
    --very-very-light-gray: rgb(250 250 250);
    /* TODO Remove: */
    --very-light-gray: rgb(242 242 242);
    /* TODO Remove: */
    --light-gray: rgb(222 226 228);
    /* TODO Remove: */
    --semi-light-gray: rgb(184 186 188);
    /* TODO Remove: */
    --gray: rgb(91 105 113);
    /* TODO Remove: */
    --dark-gray: rgb(51 65 73);
    /* TODO Remove: */
    --very-dark-gray: rgb(31 31 31);
    /* TODO Remove: */
    --black: rgb(0 0 0);
    /* TODO Remove: */
    --green: rgb(0 150 0);
    /* TODO Remove: */
    --blue: rgb(45 62 255);
    /* TODO Remove: */

    /* TODO Remove: */

    /* TODO Remove: */
    --very-light-red: rgb(255 178 178);
    /* TODO Remove: */
    --light-red: rgb(255 158 158);
    /* TODO Remove: */
    --red: rgb(226 0 26);
    /* TODO Remove: */
    --dark-red: rgb(140 0 17);
}
