/* LAYER: common */

/*******************************************************************************

            Defintion of CSS classes which use the theme colors.

*******************************************************************************/

.primary-color {
    color: var(--primary-color);
}
.secondary-color {
    color: var(--secondary-color);
}
.accent,
.accent-color {
    color: var(--accent-color);
}

.link-color {
    color: var(--link-color);
}

.danger,
.danger-color {
    color: var(--danger-color);
}
.fail,
.warning,
.warning-color {
    color: var(--warning-color);
}
.info,
.info-color {
    color: var(--info-color);
}
.hint,
.hint-color {
    color: var(--hint-color);
}
.tip,
.tip-color {
    color: var(--tip-color);
}
.success,
.success-color {
    color: var(--success-color);
}
.meta,
.meta-color {
    color: var(--meta-color);
}
.muted,
.muted-color {
    color: var(--muted-color);
}
.smallprint,
.smallprint-color {
    color: var(--smallprint-color);
}
.text-1-color {
    color: var(--text-1-color);
}
.text-2-color {
    color: var(--text-2-color);
}
.text-3-color {
    color: var(--text-3-color);
}
.text-4-color {
    color: var(--text-4-color);
}
.text-5-color {
    color: var(--text-5-color);
}
.text-6-color {
    color: var(--text-6-color);
}
.text-7-color {
    color: var(--text-7-color);
}
.text-8-color {
    color: var(--text-8-color);
}
.text-9-color {
    color: var(--text-9-color);
}
.text-10-color {
    color: var(--text-10-color);
}
.text-11-color {
    color: var(--text-11-color);
}
.text-12-color {
    color: var(--text-12-color);
}

.symbol-color {
    color: var(--symbol-color);
}
.symbol-background-color {
    background-color: var(--symbol-background-color);
}
