html {
    scroll-behavior: smooth;
    background-color: #333;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    font-size: 12pt;
    font-weight: 300;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    max-width: 800px;
    margin: auto;
}


.areas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.area {
    box-sizing: border-box;
    width: 45%;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 3px 3px 4px #333, -1px 1px 2px #CCC , -1px -1px 2px #CCC, 1px -1px 2px #CCC ;
}
.area:has(a:hover) {
    box-shadow: 3px 3px 4px #333, -3px 3px 4px #CCC , -3px -3px 4px #CCC, 3px -3px 4px #CCC ;
    transition: all 0.2s ease-in-out;
}
.area>a {
    width: 100%;
    text-align: center;
    display: block;
    font-size: larger;
}

h1 {
    font-size: x-large;
}

li {
    margin-bottom: 1em;
}

p.bio {
    margin-bottom: 0.5em;
}

p.my-email {
    margin-top: 0;
    margin-bottom: 1em;
}

p.my-email tt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(226, 0, 26);
}

section.projects,
section.awards,
section.courses,
section.publications {
    margin-bottom: 14pt;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 14pt;
    counter-reset: publication;
}

section.projects::after,
section.awards::after,
section.courses::after,
section.publications::after {
    content: "";
    flex: auto;
    flex-basis: 232px;
    box-sizing: border-box;
    flex-grow: 0;
}

section.course,
section.award,
section.project,
section.publication {
    margin-bottom: 14pt;
    width: 200px;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 3px 3px 4px #333, -1px 1px 2px #CCC, -1px -1px 2px #CCC, 1px -1px 2px #CCC;
    transition: all 0.3s;
}

section.entry::before {
    counter-increment: publication;
    content: "[" counter(publication)"] ";
    font-weight: 400;
    color: #333;
}

:is(section.course,
    section.award,
    section.project,
    section.publication):has(a:hover) {
    box-shadow: 3px 3px 4px #333, -3px 3px 4px #CCC, -3px -3px 4px #CCC, 3px -3px 4px #CCC;
    transition: all 0.3s;
}

section em {
    font-weight: 500;
}

p.authors {
    font-style: italic;
    margin-top: 0.25em;
    font-weight: 350;
    margin-bottom: 0.3em;
}

p.publisher {
    font-weight: 400;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

details {
    position: relative;
}

details p {
    position: absolute;
    width: 600px;
    background-color: rgb(104, 98, 98);
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 4px 4px 6px gray, -4px 4px 6px gray;
}

a:link,
a:visited {
    font-variant: normal;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    color: rgb(226, 0, 26);
}

a:hover {
    text-decoration: underline;
}

.footer {
    width: calc(100% + 100px);
    margin-top: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    position: relative;
    left: -50px;
    box-sizing: border-box;
}