/* LAYER: utilities.slides */

/*
    The CSS classes defined in the following generally style only one property 
    and are intended to enable fine-grained control of the design of a slide 
    when needed. Therefore, all classes start with "sl-" to indicate that they
    are only effective in slides mode.

    The styles defined in the following are only applied to elements in slides
    mode. I. e., they are not applied to the document view. In particular, 
    adapting the size of fonts is often necessary to get the content on a 
    slide, but it should be avoided and is often unnecessary in the document 
    view.
    
    Hence, it is best to minimize the usage of these styles to avoid 
    interference with a specific theme. That is, the stylings defined in this
    file are intended to be independent of a specific theme.
*/

.ld-slide {


    /***************************************************************************
        
        Font sizes.
        
    ***************************************************************************/

    .s-font-size-200 {
        font-size: 200%; 
    }

    .s-font-size-150 {
        font-size: 150%;
    }

    .s-font-size-125 {
        font-size: 125%;
    }

    .s-font-size-110 {
        font-size: 110%;
    }

    .s-font-size-90 {
        font-size: 90%;
    }

    .s-font-size-80 {
        font-size: 80%;
    }

    .s-font-size-70 {
        font-size: 70%;
    }

    .s-font-size-60 {
        font-size: 60%;
    }

    /***************************************************************************
        
        Size and Positioning.
        
    ***************************************************************************/


    .s-width-100 {
        width: 100%;
    }

    .s-width-75 {
        width: 75%;
    }

    .s-width-70 {
        width: 75%;
    }

    .s-width-60 {
        width: 60%;
    }

    .s-width-50 {
        width: 50%;
    }

    .s-width-40 {
        width: 40%;
    }

    .s-width-30 {
        width: 30%;
    }

}