/* LAYER: utilities */

/*
    The CSS classes defined in the following generally style only one property 
    and are intended to enable fine-grained control of the design of the content 
    when needed.
    
    Hence, it is best to minimize the usage of these styles to avoid 
    interference with a specific theme. That is, the stylings defined in this
    file are intended to be independent of a specific theme.
*/

.br-shadow {
    box-shadow: var(--br-shadow);
}

.no-box-shadow,
.box-shadow-none {
    box-shadow: none
}

.block-align-center {
    margin-left: auto;
    margin-right: auto;
}


/*******************************************************************************
    
    Text/Content alignment.

*******************************************************************************/


.text-align-left {
    text-align: left;
    width: 100%;
}

.text-align-center {
    text-align: center;
    width: 100%;
}

.text-align-right {
    text-align: right;
    width: 100%;
}

table.align-text-in-data-cells-right tr td {
    text-align: right;
}

table.align-text-in-header-cells-right tr th {
    text-align: right;
}

table.align-content-in-data-cells-top tr td {
    vertical-align: top;
}

/*******************************************************************************
    
    Fonts.

*******************************************************************************/

.font-size-200 {
    font-size: 200%; 
}

.font-size-150 {
    font-size: 150%;
}

.font-size-125 {
    font-size: 125%;
}

.font-size-110 {
    font-size: 110%;
}

.font-size-90 {
    font-size: 90%;
}

.font-size-80 {
    font-size: 80%;
}

.font-size-70 {
    font-size: 70%;
}

.font-size-60 {
    font-size: 60%;
}

.monospaced {
    font-family: var(--slide-monospaced-font-family);
}

.serif {
    font-family: var(--slide-serif-font-family);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 250;
}

.thin {
    font-weight: 200;
}

/*******************************************************************************
    
    Controlling whitespace.

*******************************************************************************/

.dd-margin-left-15em dd {
    margin-left: 15em;
}

.dd-margin-left-12em dd {
    margin-left: 12em;
}

.dd-margin-left-10em dd {
    margin-left: 10em;
}

.dd-margin-left-8em dd {
    margin-left: 8em;
}

.dd-margin-left-6em dd {
    margin-left: 6em;
}

.dd-margin-left-4em dd {
    margin-left: 4em;
}
.dd-margin-left-2em dd {
    margin-left: 2em;
}

.no-margin,
.margin-none {
    margin: 0;
}

.margin-0-5em {
    margin: 0.5em;
}

.margin-1em {
    margin: 1em;
}

.margin-top-1em {
    margin-top: 1em;
}

.margin-top-2em {
    margin-top: 2em;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

.margin-bottom-2em {
    margin-bottom: 2em;
}

.margin-right-1em {
    margin-right: 1em;
}

.margin-left-1em {
    margin-left: 1em;
}

.margin-left-2em {
    margin-left: 2em;
}


.no-padding,
.padding-none {
    padding: 0;
}

.padding-0-5em {
    padding: 0.5em;
}

.padding-1em {
    padding: 1em;
}

.padding-top-1em {
    padding-top: 1em;
}

.padding-top-2em {
    padding-top: 2em;
}

.padding-bottom-1em {
    padding-bottom: 1em;
}

.padding-bottom-2em {
    padding-bottom: 2em;
}

.padding-right-1em {
    padding-right: 1em;
}

.padding-right-2em {
    padding-right: 2em;
}

.padding-left-1em {
    padding-left: 1em;
}

.padding-left-2em {
    padding-left: 2em;
}

.line-height-100 {
    line-height: 100%;
}

.line-height-110 {
    line-height: 110%;
}

.line-height-125 {
    line-height: 125%;
}

/*******************************************************************************
    
    Colors and Opacity.
    
*******************************************************************************/


.white {
    color:var(--white);
}

.blue {
    color: var(--blue);
}

.orange {
    color: var(--orange);
}

.dark-orange {
    color: var(--dark-orange);
}

.green {
    color: var(--green)
}

.shiny-green {
    color: var(--shiny-green);
}

.shiny-red {
    color: var(--shiny-red);
}

.dark-red {
    color: var(--dark-red);
}

.the-green-background {
    background-color: var(--the-green);
}

.the-blue-background {
    background-color: var(--the-blue);
}

.the-yellow-background {
    background-color: var(--the-yellow);
}

.light-green-background {
    background-color: var(--light-green);
}

.black-background {
    background-color: var(--black);
}

.white-background {
    background-color: var(--white);
}


.opacity-90 {
    opacity: 0.9;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-10 {
    opacity: 0.1;
}


/*******************************************************************************
    
    Borders.
    
*******************************************************************************/

.no-border,
.border-none {
    border: none;
    border-radius: 0;
}

.border-top {
    border-top: var(--separator-border);
}

.border-bottom {
    border-bottom: var(--separator-border);
}

.border-left {
    border-left: var(--separator-border);   
}

.border-right {
    border-right: var(--separator-border);   
}

.border-rounded {
    border-radius: var(--slide-border-radius);
}

/*******************************************************************************
    
    Size and Positioning.
    
*******************************************************************************/


.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-70 {
    width: 75%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}   

.inline-block {
    display: inline-block;
}