/* LAYER: theme.DHBW */

a:link,
a:visited {
    color: var(--dhbw-dark-red);
}

a:hover {
    text-decoration: underline;
}

/*
 * Styling of lists where the content is shown in a table-like manner. The
 * first column is the counter, the second column is the content. The styling
 * is inspired by the DHBW corporate design. The counter uses a red background
 * and white text color. The content uses a light gray background and black
 * text.
 */
ol.arabic.dhbw {
    --item-counter-width: 2em; /* to have room for "two" numbers */
    --item-counter-offset: calc(var(--item-counter-width));

    list-style-type: none;

    padding-left: var(--item-counter-offset);

    > li {
        position: relative;
        padding: 0.2em 0.4em;
        /* margin: 0.2em; removed to get a good left-alignment with the text, but didn't check if there is another requirement   */

        border-radius: 0 var(--small-border-radius) var(--small-border-radius) 0;
        background-color: var(--dhbw-very-light-gray);

        > p:last-child {
            /* TODO there are some conflicts in the CSS rules, which require this rule... drop after consolidation*/
            margin-bottom: 0;
        }

        &::before {
            content: counter(list-item, decimal-leading-zero);

            display: inline-block;
            box-sizing: border-box;

            position: absolute;
            top: 0;
            left: calc(var(--item-counter-offset) * -1);
            width: var(--item-counter-width);
            height: 100%;

            padding: 0.2em;

            text-align: center;
            font-weight: 500;
            background-color: var(--dhbw-red);
            border-radius: var(--small-border-radius) 0 0
                var(--small-border-radius);
            color: white;
        }

        &.\:hover {
            box-shadow: 6px 0px 3px -3px rgb(0 0 0 / 50%);

            &::before {
                background-color: var(--dhbw-dark-red);
            }
        }
    }
}

ul.dhbw {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 0;
    margin: 0;

    > li {
        display: block;
        position: relative;

        margin: 0;
        padding: 0.25em;
        border-radius: var(--small-border-radius);
        overflow: hidden;

        background-color: var(--dhbw-very-light-gray);

        > p {
            &:first-child {
                position: relative;
                top: -0.25em;
                left: -0.25em;

                margin: 0;
                padding: 0.25em;
                width: calc(100% + 0.5em);

                background-color: var(--dhbw-red);
                color: var(--white);
            }
            &:not(:last-child) {
                margin-bottom: 0.05em;
            }
        }
    }
}

ul.column-list.dhbw {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

    > li {
        flex: 1;

        > p {
            margin: 0;
            background-color: var(--dhbw-very-light-gray);
            color: black;
        }
        > p:not(:first-child) + p {
            margin-top: 0.25em;
        }
        > p:first-child {
            /* the "Header" */
            background-color: var(--dhbw-red);
            color: var(--white);
            font-weight: 500;
            border-radius: var(--small-border-radius) var(--small-border-radius)
                0 0;
            line-height: calc(
                var(--s-line-height) - 0.1 * var(--s-line-height)
            );
        }
        > p:last-child {
            border-radius: 0 0 var(--small-border-radius)
                var(--small-border-radius);
            flex-grow: 1;
        }
    }
}

table.dhbw {
    border-collapse: separate;
    border-spacing: 0;

    > thead {
        --current-background-color: var(--dhbw-red);
        --current-text-color: var(--white);

        > tr > th,
        > tr > td {
            background-color: var(--current-background-color);
            color: var(--current-text-color);

            + td,
            + th {
                border-left: thin solid var(--white);
            }
        }

        /* Ensure the header background is clipped to the rounded corners. */
        > tr:first-child > :first-child {
            border-top-left-radius: var(--small-border-radius);
        }
        > tr:first-child > :last-child {
            border-top-right-radius: var(--small-border-radius);
        }
    }

    /* Zebra striping: apply to body rows (and to direct tr as fallback). */
    > tbody > tr,
    > tr {
        > td {
            border: thin solid var(--dhbw-very-light-gray);

            + td {
                border-left: thin solid var(--dhbw-light-gray);
            }
        }

        &:nth-child(odd) {
            --current-background-color: var(--dhbw-very-light-gray);
            background-color: var(--current-background-color);

            > th {
                --current-background-color: var(--dhbw-gray);
                background-color: var(--current-background-color);
                --current-text-color: var(--white);
                color: var(--current-text-color);
            }

            > td {
                border: thin solid var(--white);

                + td {
                    border-left: thin solid var(--white);
                }
            }
        }

        &:last-child {
            > :first-child {
                border-bottom-left-radius: var(--small-border-radius);
            }
            > :last-child {
                border-bottom-right-radius: var(--small-border-radius);
            }
        }
    }
}

/*************************** LEGACY ***************************/
/*************************** LEGACY ***************************/
/*************************** LEGACY ***************************/
/*************************** LEGACY ***************************/
/*************************** LEGACY ***************************/

/*

Styling of impressive lists (whatever "impressive" means in this case).

*/
ol.impressive {
    list-style-position: outside;
    margin-left: 1em;
    padding-left: 0;

    > li {
        &::marker {
            color: black;
        }

        color: black;
        background-color: white;
        margin-top: 1em;
        box-shadow: 4px 4px 8px black;
        border-radius: 0.33em;
        align-items: center;
        min-height: 4em;
        padding: 0.75em;
    }
}
