/* LAYER: theme.DHBW */

/*
 * Styling of lists where the content is shown in a table-like manner. The
 * first column is the counter, the second column is the content. The styling
 * is inspired by the DHBW corporate design. The counter uses a red background
 * and white text color. The content uses a light gray background and black
 * text.
 */
ol.arabic.dhbw {
    --item-counter-width: 2em; /* to have room for "two" numbers */
    --item-counter-offset: calc(var(--item-counter-width));

    list-style-type: none;

    padding-left: var(--item-counter-offset);

    > li {
        position: relative;
        padding: 0.2em 0.4em;

        border-radius: 0 var(--small-border-radius) var(--small-border-radius) 0;
        background-color: var(--low-contrast-transparent-color);

        > p:last-child {
            /* TODO there are some conflicts in the CSS rules, which require this rule... drop after consolidation*/
            margin-bottom: 0;
        }

        &::before {
            content: counter(list-item, decimal-leading-zero);

            display: inline-block;
            box-sizing: border-box;

            position: absolute;
            top: 0;
            left: calc(var(--item-counter-offset) * -1);
            width: var(--item-counter-width);
            height: 100%;

            border-radius: var(--small-border-radius) 0 0
                var(--small-border-radius);
            padding: 0.2em;

            text-align: center;
            font-weight: 500;

            /*
            color: var(--symbol-color);
            background-color: var(--symbol-background-color);
            */
            color: var(--primary-color);
            background-color: var(--low-contrast-accent-color);

            transition:
                background-color 0.5s ease-in-out,
                scale 0.5s ease-in-out,
                border-radius 0.6s ease;
        }

        &.\:hover {
            &::before {
                background-color: var(--accent-color);
                color: var(--background-color);
                scale: 1.02;
                border-radius: var(--small-border-radius);
            }
        }
    }
}

ul.dhbw {
    display: flex;
    flex-direction: column;
    gap: var(--default-margin);
    padding: 0;
    margin: 0;

    > li {
        position: relative;
        display: block;
        margin: 0;
        border-radius: var(--small-border-radius);
        padding: calc(var(--default-container-padding) / 2)
            var(--default-container-padding);
        overflow: hidden;

        --current-rel-bg-color: color-mix(
            in srgb,
            var(--current-bg-color) 90%,
            var(--current-fg-color) 10%
        );
        background-color: var(--current-rel-bg-color);
        --current-rel-fg-color: color-mix(
            in srgb,
            var(--current-bg-color) 10%,
            var(--current-fg-color) 90%
        );
        color: var(--current-rel-fg-color);

        > p {
            &:first-child {
                position: relative;
                top: calc(var(--default-container-padding) * -1 / 2);
                left: calc(var(--default-container-padding) * -1);
                width: calc(var(--default-container-padding) * 2 + 100%);
                padding: inherit;
                margin: 0;
                --current-bg-color: var(--dhbw-red);
                --current-rel-bg-color: var(--current-bg-color);
                background-color: var(--current-bg-color);
                --current-fg-color: var(--white);
                --current-rel-fg-color: var(--current-fg-color);
                color: var(--current-rel-fg-color);

                &::before {
                    content: "⦿\00a0";
                    display: inline-block;
                    /* margin-left: calc(var(--default-container-padding) * -1 / 2); */
                }
            }
            &:not(:last-child) {
                margin-bottom: 0.05em;
            }
        }
    }
}

ul.column-list.dhbw {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

    > li {
        flex: 1;

        > p {
            margin: 0;
            background-color: var(--very-low-contrast-color);
            color: var(--primary-color);
        }
        > p:not(:first-child) + p {
            margin-top: 0.25em;
        }
        > p:first-child {
            --theme: accent;
            /* the "Header" */
            background-color: var(--dhbw-red);
            color: var(--white);

            font-weight: 500;
            border-radius: var(--small-border-radius) var(--small-border-radius)
                0 0;
            line-height: calc(
                var(--s-line-height) - 0.1 * var(--s-line-height)
            );
        }
        > p:last-child {
            border-radius: 0 0 var(--small-border-radius)
                var(--small-border-radius);
            flex-grow: 1;
        }
    }
}
