ld-slide {
    &.exercises::before {
        content: var(--dhbw-symbol-sharp);

        position: absolute;
        top: var(--s-tb-padding);
        right: var(--s-lr-padding);

        display: block;

        transform-origin: top right;
        transform: scale(0.45);
    }

    &.new-section {
        align-content: center;

        &::before {
            content: var(--dhbw-logo);

            position: absolute;
            top: var(--s-tb-padding);
            right: var(--s-lr-padding);

            transform-origin: top right;
            scale: 0.5;
        }

        &::after {
            position: absolute;
            top: var(--s-tb-padding);

            content: var(--author);

            font-size: calc(var(--current-base-font-size) / 2);
            font-variant: normal;
            font-weight: 200;

            color: var(--meta-color);
        }

        > h2 {
            width: calc(100%+ var(--s-lr-padding));
            margin-left: calc(-1 * var(--s-lr-padding));
            border-radius: 0 calc(var(--s-border-radius) * 0.95)
                calc(var(--s-border-radius) * 0.95) 0;
            padding: calc(var(--s-tb-padding) * 2.5) var(--s-lr-padding);

            font-size: 2.25em;
            text-align: center;
        }
    }

    &.new-subsection::after {
        content: var(--dhbw-logo);

        position: absolute;
        top: var(--s-tb-padding);
        right: var(--s-lr-padding);

        transform-origin: top right;
        scale: 0.7;
    }

    .section-subtitle {
        width: calc(100% + var(--s-lr-padding));

        margin-left: calc(-1 * var(--s-lr-padding));
        border-radius: 0 calc(var(--s-border-radius) * 0.95)
            calc(var(--s-border-radius) * 0.95) 0;
        padding: calc(var(--s-tb-padding) * 1.5) var(--s-lr-padding);

        font-weight: 300;
        text-align: center;

        background-color: var(--low-contrast-accent-color);
    }
}
