ld-slide {
    &.exercises::before {
        content: var(--dhbw-logo);
        display: block;
        position: absolute;
        top: 28px;
        right: var(--s-lr-padding);

        /* makes it easier to use it on various backgrounds */
        transform: translateX(30%) translateY(-38%) scale(0.4);

        mix-blend-mode: multiply;
    }

    &.new-section {
        align-content: center;

        &::after {
            content: var(--author);
            position: absolute;
            top: var(--s-tb-padding);
            --current-rel-fg-color: color-mix(
                in lch,
                var(--current-fg-color) 80%,
                var(--current-bg-color) 20%
            );
            color: var(--current-rel-fg-color);
            mix-blend-mode: hard-light;

            font-size: 24px;
            font-variant: normal;
            font-weight: 200;
        }

        &::before {
            content: var(--dhbw-logo);
            position: absolute;
            top: var(--s-tb-padding);
            right: var(--s-lr-padding);
            transform-origin: top right;
            scale: 0.5;
        }

        > h2 {
            width: calc(100%+ var(--s-lr-padding));
            margin-left: calc(-1 * var(--s-lr-padding));
            border-radius: 0 calc(var(--s-border-radius) * 0.95)
                calc(var(--s-border-radius) * 0.95) 0;
            padding: calc(var(--s-tb-padding) * 2.5) var(--s-lr-padding);

            --current-bg-color: var(--dhbw-gray);
            background-color: var(--current-bg-color);
            color: var(--white);

            font-size: 2.25em;
            text-align: center;
        }
    }

    .section-subtitle {
        font-weight: 300;
        text-align: center;
        width: calc(100% + var(--s-lr-padding));
        margin-left: calc(-1 * var(--s-lr-padding));
        padding: 0.5em 0.8em 0.5em 1.6em;
        border-radius: 0 calc(var(--s-border-radius) * 0.95)
            calc(var(--s-border-radius) * 0.95) 0;

        --current-bg-color: var(--light-gray);
        background-color: var(--current-bg-color);
        color: var(--dark-gray);
    }

    &.new-subsection {
        &::after {
            content: var(--dhbw-logo);
            position: absolute;
            top: var(--s-tb-padding);
            right: var(--s-lr-padding);
            transform-origin: top right;
            scale: 0.7;
        }
    }
}
