/* 
    Default styling for LectureDoc2 documents.
*/

:root {
    /* the red used by the DHBW Logo */
    --ld-dhbw-red: rgb(226, 0, 26);
    /* the gray used by the text in the DHBW Logo*/
    --ld-dhbw-gray:  rgb(91,105,113);

    /* a blue that fits nicely to the previous colors*/
    --ld-the-blue: rgb(45, 62, 255);
    --ld-the-green: rgb(0, 88, 0);
    --ld-the-light-green: rgb(0, 88, 0, 0.1);

    --ld-red: rgb(131, 0, 0);
    --ld-red-background: rgb(131, 0, 0, 0.1);
    font-size: 48px;
}

.ld-slide {
    padding: 0.75rem;
    background-color: white;
    border-radius: 0.5rem;
}

/* The following really depends on the logo that you want to use. */
img.logo {
    position: absolute;
    bottom: 48px;
    right: 48px;
    scale: 1;
}

.footer-left {
    position: absolute;
    bottom: 48px;
}

.huge {
    font-size: 1.5rem;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
    width: 100%;
}

.small {
    font-size: 0.85rem;
    /* deliberately absolute w.r.t. the "global" font-size */
}

.footnotesize {
    font-size: 0.815rem;
    /* deliberately absolute w.r.t. the "global" font-size */
}

.scriptsize {
    font-size: 0.785rem;
    /* deliberately absolute w.r.t. the "global" font-size */
}

.tiny {
    font-size: 0.7rem;
    /* deliberately absolute w.r.t. the "global" font-size */
}

.smaller {
    font-size: 0.9em;
}

.monospaced {
    font-family: monospace;
}


a:link,
a:visited {
    color: var(--ld-dhbw-red);
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1.1em;
}

ol {
    list-style-position: outside;
    padding-left: 1.1em;
}

li {
    padding-left: 0.5em;
}

.admonition {
    margin: 0.5em 0em;
    background-color: var(--ld-dhbw-red);
    box-shadow: 4px 4px 8px gray;
    color: white;
    border: 0;
    border-radius: 0.5em;
    padding: 0.75em;
}

/* Important! This fixes a MathJax rendering issue! */
p.admonition-title {
    margin: 0;
    padding-bottom: 0.2em;
}

.admonition .note {
    float: right;
    background-color: var(--ld-the-blue);
    color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.75em;
    max-width: 40%;
}

.admonition-definition {
    background-color: rgb(157, 255, 204);
}

span.ger-quote::before {
    content: '„';
}

span.ger-quote::after {
    content: '”';
}

blockquote {
    padding: 0.5em;
    border-radius: 0.4em;
    background-color: rgba(55, 55, 55, 0.075);
}

.epigraph {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-variant-ligatures: additional-ligatures;
}

.topic-title {
    text-align: center;
    padding-top: 0.5em;
}


pre.code {
    margin: 0;
}


/*
Styling of table is done by adding the desired classes:

    1) highlight-line-on-hover
    2) highlight-on-hover 
    3) compact
    4) no-table-borders
    5) no-inner-borders
    6) no-column-borders
*/
table {
    border: 1.5px solid black;
    box-shadow: 4px 4px 8px gray;
}

th,
td {
    border: 1.5px solid black;
}

/*
If the content of the entire cell has a red background, we lift it 
up to the cell level.
*/
td:has(p>span.red) {
    background-color: var(--ld-red-background);
    font-weight: bold;
}

table.highlight-line-on-hover tr:hover {
    background-color: rgb(180, 214, 249);
}

table.highlight-line-on-hover tbody td:hover {
    background-color: rgb(200, 234, 256);
}

/* 
The following property is associated with cells when the table has the 
highlight-on-hover class and the ld-animation package is loaded.
*/
td.highlight {
    background-color: rgb(171, 224, 253);
}

table.compact {
    margin: 0;
}

table.compact td,
table.compact th {
    padding: 0.1em;
}

/* fix for an rst2ld issue related to the csv tables */
table.align-center tr {
    text-align: center;
}

table.no-table-borders {
    border: 2px solid white;
    box-shadow: none;
}

table.no-inner-borders :is(td, th) {
    border: 0;
}

table.header-column td:first-child {
    font-weight: bold;
}

table.no-column-borders :is(td, th) {
    border-left: 0;
    border-right: 0;
}

.ger {
    color: gray;
    font-style: italic;
}

.ger::before {
    content: "(🇩🇪 ";
}

.ger::after {
    content: ")";
}

.eng {
    color: gray;
    font-style: italic;
}

.eng::before {
    content: "(🇺🇸 ";
}

.eng::after {
    content: ")";
}

.compact {
    /* often used in combination with tables */
    line-height: 1.05em;
}

:is(ol,ul).compact li{
    line-height: 1.35em;
    padding-top: 0em;
    margin-top: 0em;
}

.shadow {
    box-shadow: 4px 4px 8px rgb(33, 33, 33);
}

.not-important {
    color: rgb(129, 129, 129)
}

.obsolete {
    text-decoration: line-through;
}

.line-above {
    border-top: 2px solid rgb(24, 25, 25);
}

.line-below {
    border-bottom: 2px solid rgb(24, 25, 25);
}

.padding-below {
    padding-bottom: 1em;
}

.margin-below {
    margin-bottom: 1em;
}

.margin-above {
    margin-top: 1em;
}

.centered-content {
    position: relative;
    top: 50%;
    transform: translate(0,calc( -50% - 0.5rem ));
}

.complement {
    font-size: smaller;
    background-color: rgb(240,240,240);
    color:var(--ld-dhbw-gray);
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    margin: -0.25em;
    border-radius: 0.5em;
}

/*
    Styling of multi-column diffs.

*/

.two-columns,
.three-columns {
    column-rule: 2px solid gray;
    width: 100%;
    column-gap: 1.5em;
}

.two-columns {
    column-count: 2;

}

.three-columns {
    column-count: 3;
}

/* Primarily meant as a hint to avoid breaks insides columns. */
.column {
    break-inside: avoid;
}


/*
    Styling of warning asides. 

    These asides should be used very sparingly because a subtle animation 
    is used to make this warning really effective.
*/

aside.warning {
    background-color: var(--ld-dhbw-red);
}

/* We only want the animation in the slide view! */
#ld-main-pane aside.warning[style*="visibility: visible;"] {
    animation:
        red-to-orange-and-back 10s infinite,
        scale-in 1s;
}

aside.warning p.admonition-title {
    color: white;
    text-align: center;
    font-size: larger;
}

@keyframes red-to-orange-and-back {
    0% {
        background-color: var(--ld-dhbw-red);
    }

    50% {
        background-color: rgb(253, 108, 41);
    }

    100% {
        background-color: var(--ld-dhbw-red);
    }
}

@keyframes scale-in {
    0% {
        scale: 0.95;
    }

    100% {
        scale: 1;
    }
}


/*
    Styling of section headers.

    A section header is a div with the class ".new-section"
*/

div.ld-slide.new-section>h2 {
    font-size: 2rem;
    font-variant: small-caps;
    text-align: center;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0.5em;
    background-color: var(--ld-dhbw-gray);
    box-shadow: 4px 4px 8px black;
    color: white;
}

div.ld-slide.new-section>h2::after {
    content: "Prof. Dr. Michael Eichberg";
    display: block;
    position: absolute;
    font-variant: normal;
    font-size: 0.75rem;
    font-weight: 200;
    margin-top: 2.25rem;
    margin-left: 1rem;
    color: var(--ld-dhbw-gray);
}

div.ld-slide.new-section::after {
    content: url(../dhbw_logo.png);
    position: absolute;
    top: 0px;
    right: 0px;
    scale: 0.50;
    translate: 60px -25px;
}

/*
    Let's add a nice animation when we reach the next "new-section" slide.
*/

#ld-main-pane .ld-slide.new-section[style*="scale: 1;"] {
    animation: blend-in 2s;
}

#ld-main-pane .ld-slide[style*="scale: 0"]:has(+.ld-slide.new-section[style*="scale: 1;"]) {
    animation: blend-out 2s;
}

@keyframes blend-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes blend-out {
    0% {
        opacity: 1;
        scale: 1; /* We have to reset the scale level to make a blending effect possible. */
    }

    99% { /*  */
        opacity: 0;
        scale: 1;
    }
    100% {
        scale: 0;
    }
}

/*

We want to add a section number to each major section (a section is marked by a slide with the class .new-section.

*/

#ld-main-pane,
#ld-continuous-view-pane,
#ld-light-table-dialog {
    counter-reset: ld-section 0;
}

.ld-slide.new-section {
    counter-increment: ld-section;
}

.ld-slide.new-section h2::before {
    content: counter(ld-section)".";
    padding-right: 0.5em;
}


/* *
 
Handling of subsections.

*/

div.ld-slide.new-subsection>h2 {
    font-size: 1.666rem;
    font-variant: small-caps;
    text-align: center;
    margin-top: 4rem;
    border-radius: 0.5em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--ld-dhbw-gray);
    box-shadow: 4px 4px 8px black;
    color: white;
}

div.ld-slide.new-subsection::after {
    content: url(../dhbw_logo.png);
    position: absolute;
    scale: 0.75;
    top: -18px;
    right: -20px;
}

/*
    Let's add a nice animation when we reach the next "new-subsection" slide.
*/

#ld-main-pane .ld-slide.new-subsection[style*="scale: 1;"] {
    animation: blend-in 2s;
}

#ld-main-pane .ld-slide[style*="scale: 0"]:has(+.ld-slide.new-subsection[style*="scale: 1;"]) {
    animation: blend-out 2s;
}

@keyframes blend-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes blend-out {
    0% {
        opacity: 1;
        scale: 1; /* We have to reset the scale level to make a blending effect possible. */
    }

    99% { /*  */
        opacity: 0;
    }
    100% {
        scale: 0;
    }
}


/*

Styling of individual elements.

*/ 

.admonition.white-background {
    background-color: white;
    color: rgb(30,30,30);
}
    

.more-space-between-list-items li{
    margin-top: 0.75em;
}

img.picture {
    border-radius: 25px;
    box-shadow: 4px 4px 8px black;
}

/*

Styling of impressive lists (whatever "impressive" means in this case).

*/
ol.impressive {
    list-style-position: outside;
    margin-left: 1em;
    padding-left: 0;
}

ol.impressive li::marker {
    color: black;
}

ol.impressive li{
    color: black;
    background-color: white;
    margin-top: 1em;
    box-shadow: 4px 4px 8px black;
    border-radius: 0.33em;
    align-items: center;
    min-height: 4em;
    padding: 0.75em;
}



/*

    Styling of index cards

*/

.index-card {
    font-family: bradley hand, cursive;
    background-color: rgb(255, 255, 165);
    color: rgb(76, 76, 255);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: 1200px;
    margin: auto;
    box-shadow: 4px 4px 6px gray;
    border-radius: 0.25em;
}

.index-card > p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-bottom: 1px solid gray;
}

.index-card p:first-of-type {
    border-bottom: 3px solid black;
    text-align: right;
    padding-right: 0.5em;
    margin: 0;
}


/*

    The class "annotated-text" can be used in combination with tables to make
    them look like as if we have a text document with some paragraphs with some 
    comments to the side.

*/

table.annotated-text {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    background-color: transparent;
    border-collapse: separate;
}

table.annotated-text :is(tr, td, th){
    border: 0;
}

table.annotated-text tr{
    margin: 2px;
}

/* style the "comment" column */
table.annotated-text :is(td, th):first-of-type:not(:empty){
    background-color: var(--ld-dhbw-gray);
    color: whitesmoke;
    vertical-align: text-top;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-align: right;
    border-bottom: 0.75em solid white;
    border-radius: 1em 0em 0em 0em;
    font-size: smaller;
    font-weight: 300;
    max-width: 25%;
}

/* the intermediate columns */
table.annotated-text :is(td, th):not(:first-of-type):not(:empty){
    text-align: left;
    padding-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* the last column */
table.annotated-text :is(td, th):last-child:not(:empty){
    text-align: justify;
}


/*

    The following provides an option to rotate the title by 90 degrees.
*/

div.vertical-title h2{
    display: inline-block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.inline-block {
    display: inline-block;
}




div:not(.admonition).note {
    margin: 0.5em 0em;
    box-shadow: 4px 4px 6px gray;
    border: 0;
    border-radius: 0.5em;
    padding: 0.66em;
}

div:not(.admonition).note {
    float: right;
    background-color: var(--ld-the-blue);
    color: whitesmoke;
    max-width: 20%;
}



.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}


.red {
    color: var(--ld-red);
}

.blue {
    color: rgb(0, 0, 155);
}

.green {
    color: rgb(0, 88, 0);
}

.black {
    color: black;
}

.dhbw-gray {
    color: var(--ld-dhbw-gray);
}


.red-background {
    background-color: var(--ld-dhbw-red);
}


.green-background {
    background-color: var(--ld-the-green);
}

.light-green-background {
    background-color: var(--ld-the-light-green);
}


.blue-background {
    background-color: var(--ld-the-blue);
}

div.important {
    background-color: var(--ld-dhbw-red);
    color:whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    position: relative;
}


.on-slide-section-start {
    text-align: right;
    border-right: 3px solid var(--ld-dhbw-gray);
    border-top: 3px solid var(--ld-dhbw-gray);
    border-radius: 0.25em 0.25em 0 0 ;
    padding-right: 0.25em;
    color: var(--ld-dhbw-gray);
    box-shadow: 2px -2px 2px gray;
}

.on-slide-section-end {
    text-align: right;
    border-bottom: 3px solid var(--ld-dhbw-gray);
    border-right: 3px solid var(--ld-dhbw-gray);
    border-radius: 0em 0em 0.25em 0.25em ;
    padding-right: 0.25em;
    box-shadow: 2px 2px 2px gray;
    color: var(--ld-dhbw-gray);
}