/* Theming of LectureDoc controls and configuration of the most basic assumptions. */

:root {
    /* Primarily for debugging purposes!*/
    background-color: black; 

    --ld-body-background-color: rgb(25, 25, 30);
}

body {
    background-color: var(--ld-body-background-color); 
}

/* Common styling of all dialogs.
   */
.ld-dialog {
    margin: auto;
    background-color: rgba(30, 30, 30, 0.9);
    box-shadow: 
        2px 2px 3px black,
        -2px -2px 3px black,
        -2px 2px 3px black,
        2px -2px 3px black;
    border-radius: 10px;
}

.ld-dialog::backdrop {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /* Currently, there is no simple way to animate (i.e., fade) the backdrop,
       Hence, we simply make it transparent. */
    background-color: transparent; 
    transition: all 500ms;
}

#ld-message-box {
    position: fixed;
    top: 48px;
    margin: auto;
    border: 0px;
    padding: 16px;
    font-size: 24px;
    color: black;
    background-color: rgb(193, 242, 69);
    box-shadow: 4px 4px 8px black;
    border-radius: 0.5em;
}


/*  ----------------------------------------------------------------------------

    Styling the slide numbers pane.
*/

#ld-slide-number-pane {
    /* set by core: display: none <-> table */
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
    height: 50px;
    width: 50px;
    font-size: 24px; 
    text-shadow: 1px 1px 1px white; 
}

#ld-slide-number {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


/*  ----------------------------------------------------------------------------
    Styling the help dialog.

*/
#ld-help {
    min-width: 45vw;
    max-width: 75vw;
    max-height: 75vh;
    padding: 1em;
    font-size: 14px;
    color: white;
    overflow-y: scroll;
    overflow-x: scroll;
}

#ld-help p {
    margin-top: 9px;
}

#ld-help :is(a:link,  a:visited) {
    color:rgb(255, 173, 96)
}

#ld-help table {
    width: 100%;
    border: 1px solid gray;
    background-color: rgba(0,0,0,0.5);
    border-spacing: 20px 10px;
    border-radius: 10px;
    box-shadow: none;
}

#ld-help th {
    border-bottom: 1px solid gray;
    text-align: left;
}

#ld-help tr.ld-help-keys-category {
    font-weight: 900;
    text-align: center;
    background-color: rgba(125, 125, 125,0.25);
    color:whitesmoke;
}


/*  ----------------------------------------------------------------------------
    Styling the direct jumpt target dialog.

*/
#ld-jump-target-dialog {
    font-size: 18px;
    color: white;
    padding: 10px;
}

/*  ----------------------------------------------------------------------------

    Styling the light table dialog.
*/
#ld-light-table-dialog {
    height: 90vh;
    width: 90vw;
}

#ld-light-table-dialog-container {
    height: 100%;
    width: 100%;
}

#ld-light-table-header,
#ld-light-table-footer {
    display: flex;
    width: 100%;
    height: 42px;
    padding: 10px;
    font-size: 14px;
    color: whitesmoke;
    background-color: rgb(27, 26, 26);
}

#ld-light-table-header > div{
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#ld-light-table-slides-count {
    flex-grow: 0;
}

#ld-light-table-search {
    flex-grow: 2;
    text-align: right;
}

#ld-light-table-search-input {
    width: 20em;
    max-width: 100%;
    border-radius: 0.2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 10px;
}

#ld-light-table-zoom {
    flex-grow: 1;
    text-align: right;
}

#ld-light-table-zoom-slider {
    float:right;
}

#ld-light-table-close {
    width: 22px;
    text-align: center;
    border-radius: 0.2em;
}

#ld-light-table-close-button {
    background-color: rgb(27, 26, 26);
    color: white;
}

#ld-light-table-close:hover #ld-light-table-close-button {
    background-color: white;
    color:  rgb(27, 26, 26);
}

#ld-light-table-close:hover {
    background-color: white;
    color: rgb(27, 26, 26);
}   

#ld-light-table-header-stretch {
    width: 100%;
}

#ld-light-table-slides {
    padding: 10px;
}

.ld-light-table-slide-overlay:hover {
    opacity: 0;
}

.ld-light-table-slide-overlay {
    background-color: rgba(0, 0, 0, 0.33);
    opacity: 1;
    transition: opacity 333ms ease-in;
    /* We use flex here, to make it easy to align slide number: */
    display: flex; 
    align-items: end; 
    justify-content: right;
}

.ld-light-table-slide-overlay > span {
    display: block; 
    color: rgba(0,0,0,0.5); 
    text-shadow: 1px 2px 1px rgba(255,255,255,0.25); 
    font-size: 18px;
    margin-right: 0.25em;
}





