/* Theming of LectureDoc controls and configuration of the most basic assumptions. */

:root {
    /* Primarily for debugging purposes!*/
    background-color: black; 

    --ld-body-background-color: rgb(25, 25, 30);
}

body {
    background-color: var(--ld-body-background-color); 
}


@media print { /* At least Safari seems to honor this setting... */
    :root {
        background-color: white;
        --ld-body-background-color: white;
    }

    body {
        background-color: white;
    }
}

input.passwords {
    width: 100%;
    border: 1px solid var(--dhbw-light-gray);
    padding: 0.5em;
    box-shadow: var(--br-shadow);
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* -----------------------------------------------------------------------------
    Common styling of all dialogs.
*/
.ld-dialog {
    margin: auto;
    background-color: rgba(30, 30, 30, 0.95);
    box-shadow: 
        2px 2px 3px black,
        -2px -2px 3px black,
        -2px 2px 3px black,
        2px -2px 3px black;
    border-radius: 10px;
    font-size: 14px;
}

.ld-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    /* Currently, there is no simple way to animate (i.e., fade) the backdrop,
       Hence, we simply make it transparent. */
    /*background-color: transparent; */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transition: all 100ms;
}

.ld-dialog-footer,
.ld-dialog-header {
    display: flex;
    width: 100%;
    height: 42px;
    padding: 10px;
    font-size: 14px;
    color: whitesmoke;
    background-color: rgb(27, 26, 26);
}

.ld-dialog-header > div{
    padding-left: 0.25em;
    padding-right: 0.25em;
    flex-grow: 0;
}

.ld-dialog-header > span{
    flex-grow: 2;
}

.ld-dialog-close {
    width: 22px;
    text-align: center;
    border-radius: 0.2em;
}

div.ld-dialog-close-button {
    background-image: url('icons/white-cross.svg');
    background-size: 18px;
    width: 18px;
    height: 18px;
    
}

div.ld-dialog-close-button:hover {
    background-image: url('icons/black-cross-on-white.svg');
    background-size: 18px;
    width: 18px;
    height: 18px;
}

#ld-message-box {
    position: fixed;
    top: 48px;
    margin: auto;
    border: 0px;
    padding: 16px;
    font-size: 24px;
    color: black;
    background-color: rgb(193, 242, 69);
    box-shadow: 4px 4px 8px black;
    border-radius: 0.5em;
}


/*  ----------------------------------------------------------------------------

    Styling the slide numbers pane.
*/

#ld-slide-number-pane {
    /* set by core: display: none <-> table */
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
    height: 50px;
    width: 50px;
    font-size: 24px; 
    text-shadow: 1px 1px 1px white; 
}

#ld-slide-number {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


/*  ----------------------------------------------------------------------------

    Styling of the exercises passwords dialog.
*/

#ld-exercises-passwords-dialog{
    min-width:400px;
    min-height:200px;
}

#ld-exercises-passwords-content {
    padding: 1em;
    color: whitesmoke;
}

#ld-exercises-passwords-content td {
    padding: 0.5em;
    margin: 1em;
}

.ld-unlock-global {
    background-image: url('icons/lock-global.svg');
    background-size: 15px 22px;
    width: 15px;
    height: 22px;
}

.ld-unlock-global:hover {
    background-image: url('icons/unlock-global.svg');
    background-size: 15px 22px;
    width: 15px;
    height: 22px;
}


/*  ----------------------------------------------------------------------------
    Styling the help dialog.

*/
#ld-help {
    min-width: 45vw;
    max-width: 75vw;
    max-height: 75vh;
    padding: 1em;
    color: whitesmoke;
    overflow-y: scroll;
    overflow-x: scroll;
}

#ld-help p {
    margin-top: 9px;
}

#ld-help :is(a:link,  a:visited) {
    color:rgb(255, 173, 96)
}

#ld-help table {
    width: 100%;
    border: 1px solid gray;
    background-color: rgba(0,0,0,0.5);
    border-spacing: 20px 10px;
    border-radius: 10px;
    box-shadow: none;
}

#ld-help th {
    border-bottom: 1px solid gray;
    text-align: left;
}

#ld-help tr.ld-help-keys-category {
    font-weight: 900;
    text-align: center;
    background-color: rgba(125, 125, 125,0.25);
    color:whitesmoke;
}



/*  ----------------------------------------------------------------------------
    Styling the direct jump to target dialog.

*/
#ld-jump-target-dialog {
    font-size: 18px;
    color: white;
    padding: 10px;
}

/*  ----------------------------------------------------------------------------

    Styling the light table dialog.
*/
#ld-light-table-dialog {
    height: 90vh;
    width: 90vw;
}

#ld-light-table-dialog-container {
    height: 100%;
    width: 100%;
}

#ld-light-table-slides-count {
    flex-grow: 0;
}

#ld-light-table-search {
    flex-grow: 2;
    text-align: right;
}

#ld-light-table-search-input {
    width: 20em;
    max-width: 100%;
    border-radius: 0.2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 10px;
}

#ld-light-table-zoom {
    flex-grow: 1;
    text-align: right;
}

#ld-light-table-zoom-slider {
    float:right;
}

#ld-light-table-header-stretch {
    width: 100%;
}

#ld-light-table-slides {
    padding: 10px;
}

.ld-light-table-slide-overlay:hover {
    opacity: 0;
}

.ld-light-table-slide-overlay {
    background-color: rgba(0, 0, 0, 0.33);
    opacity: 1;
    transition: opacity 333ms ease-in;
    /* We use flex here, to make it easy to align slide number: */
    display: flex; 
    align-items: end; 
    justify-content: right;
}

.ld-light-table-slide-overlay > span {
    display: block; 
    color: rgba(0,0,0,0.5); 
    text-shadow: 1px 2px 1px rgba(255,255,255,0.25); 
    font-size: 18px;
    margin-right: 0.25em;
}




/*  ----------------------------------------------------------------------------

    Styling the laser pointer.
*/

#ld-laser-pointer {
    position: fixed;
    /* top and left are set programmatically */
    scale: 0; 
    background-color: rgba(0, 255, 234, 0.75);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    z-index: 1000;
    pointer-events: none;
    transition: scale 300ms;
    mix-blend-mode: difference;
}


/*  ----------------------------------------------------------------------------

    Styling the table of contents dialog.
*/

#ld-table-of-contents-dialog ol {
    background-color: white;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    list-style-position: inside;
    border-top: 0px;
    border-bottom: 0px;
}

#ld-table-of-contents-dialog ol ol {
    padding-top: 0;
    padding-bottom: 0;
}
