/*
    Reference to all used and recommended fonts.

    Whenever possible (available), we are going to use variable fonts.

    Typical Font Weight: 
        Thin=100,
        Light=300, 
        Normal=400, 
        Medium=500,
        Bold=700,
        Extra Bold=800, 
        Black(Heavy)=900 
*/
@font-face {
    font-display: swap;
    font-family: "Noto Serif Display";
    src: local("Noto Serif Display"),
        local("NotoSerifDisplay-Regular"),
        url("./NotoSerifDisplay-VariableFont_wdth,wght.woff2") format("woff2-variations");
    font-weight: 100 900;
    
    font-stretch: 62.5% 100%;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Noto Serif Display";
    src: local("Noto Serif Display"),
        local("NotoSerifDisplay-Italic"),
        url("./NotoSerifDisplay-Italic-VariableFont_wdth,wght.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: "Noto Serif";
    src: local("Noto Serif"),
        local("NotoSerif-Regular"),
        url("./NotoSerif-VariableFont_wdth,wght.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Noto Serif";
    src: local("Noto Serif Italic"),
        local("NotoSerif-Italic"),
        url("./NotoSerif-Italic-VariableFont_wdth,wght.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-style: italic;
}


@font-face {
    font-display: swap;
    font-family: "Noto Sans Display";
    src: local("Noto Sans Display"),
        local("NotoSansDisplay-Regular"),
        url("./NotoSansDisplay-VariableFont_wdth,wght.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Noto Sans Display";
    src: local("Noto Sans Display"),
        local("NotoSansDisplay-Italic"),
        url("./NotoSansDisplay-Italic-VariableFont_wdth,wght.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-style: italic;
}


@font-face {
    font-display: swap;
    font-family: 'Victor Mono';
    src: local('Victor Mono'),
        local('Victor Mono Regular'),
        local('VictorMono-Regular'),
        url('VictorMono[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}


@font-face {
    font-display: swap;
    font-family: 'Victor Mono';
    src: local('Victor Mono Italic'),
        local('VictorMono-Italic'),
        url('VictorMono-Italic[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
}


@font-face {
    font-display: swap;
    font-family: 'Monospace';
    font-style: normal;
    font-weight: 500;
    src: local("Monospace"),
        url('Monospace.medium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Monospace';
    font-style: oblique;
    font-weight: 500;
    src: local("Monospace Oblique"),
        url('Monospace.oblique.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Monospace';
    font-style: normal;
    font-weight: 700;
    src: local("Monospace Bold"),
        url('Monospace.bold.woff2') format('woff2');
}

