/* LAYER: theme.ld */

:root {
    /*  The default color scheme is the light scheme. */

    /* Definition of all colors. */
    --white: rgb(255 255 255);
    --very-very-light-gray: rgb(254 250 252);
    --very-light-gray: rgb(245 243 248);
    --light-gray: rgb(222 226 228);
    --semi-light-gray: rgb(184 186 188);
    --gray: rgb(91 105 113);
    --dark-gray: rgb(51 65 73);
    --black: rgb(0 0 0);

    --very-light-green: rgb(245 255 225);
    --shiny-green: rgb(0 255 0);
    --light-green: rgb(0 200 0);
    --green: rgb(0 150 0);
    --dark-green: rgb(0 88 0);
    --light-transparent-green: rgb(0 88 0 / 10%);

    --very-very-light-blue: rgb(245 245 255);
    --very-light-blue: rgb(235 236 247);
    --light-blue: rgb(165 172 255);
    --blue: rgb(45 62 255);
    --dark-blue: rgb(32 42 151);

    --very-light-yellow: rgb(255 255 215);
    --light-yellow: rgb(251, 251, 136);
    --yellow: #ff1;
    --dark-yellow: rgb(255 230 64);

    --light-orange: rgb(252 202 151);
    --orange: rgb(255 128 0);
    --dark-orange: rgb(205 102 0);

    --very-light-red: rgb(255 178 178);
    --light-red: rgb(255 158 158);
    --shiny-red: rgb(255 0 0);
    --red: rgb(226 0 26);
    --dark-red: rgb(140 0 17);
    --light-transparent-red: rgb(131 0 0 / 10%);
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}
