/* LAYER: theme.ld */

:root {
    --theme-font-family: var(--default-font-family);
    --theme-serif-font-family: var(--text-font-family);
    --theme-large-serif-font-family: var(--large-text-font-family);
    --theme-monospaced-font-family: var(--pre-font-family);
    --theme-code-font-family: var(--code-font-family);
    --theme-math-font-family: var(--math-font-family);

    /*  48px results in ~16 lines of text and one header line
        on a 1200px height slide. */
    --unitless-s-font-size: 48; /* required for relative size computations */
    --s-font-size: calc(var(--unitless-s-font-size) * 1px);
    --s-font-weight: 250;
    --s-line-height: 1.5;
    --s-text-color: var(--black);
    --s-background-color-rgb-values: 255 255 255;
    --s-background-color: rgb(var(--s-background-color-rgb-values));
    /*  We are using absolute sizes for the padding to ensure that footers and
        headers are independent of the current font size of a slide (e. g.,
        if the size of the font for a single slide is decreased, the footer
        should not be affected to retain a consistent look and feel). */
    --s-tb-padding: 20px; /* top and bottom padding */
    --s-lr-padding: 36px; /* left and right padding */
    --s-padding: var(--s-tb-padding) var(--s-lr-padding);
    --s-border-radius: 24px;

    --s-supplemental-font-size: 40px;

    --s-footer-height: 48px;
    --s-footer-font-size: 36px;

    --unitless-d-font-size: calc(var(--unitless-s-font-size) / 3);
    --d-font-size: calc(var(--unitless-d-font-size) * 1px);
    --d-padding: var(--d-font-size);
    --d-line-height: var(--s-line-height);
    --d-supplemental-font-size: var(--d-font-size);
    --d-supplemental-line-height: var(--d-line-height);

    /*  The standard font size in the given context.

        Either: s-font-size or d-font-size

        Need to be set to a reasonable value; 256px is chosen to ensure that
        it is immediately visible when the current-base-font-size is not
        set appropriately! */
    --current-base-font-size: 256px;
    --unitless-current-base-font-size: 256;

    --current-background-color: var(--s-background-color);
    --emph-color: var(--dark-red);
    --separator-border: 2px solid var(--dark-gray);

    --default-bottom-margin: 0.5em;

    /* Shadows (t = top; b = bottom; l = left; r = right) */
    --br-shadow: 0.1em 0.1em 0.4em 0 var(--light-gray);
    --trbl-shadow: 0 0 0.2em 0 var(--light-gray);
    --trbl-shadow-dark: 0 0 0.2em 0 var(--gray);

    --field-indent: 5em;
}
