/* LAYER: theme.ld */

:root {
    /*  Noto Sans Display, Noto Serif (Display), Victor Mono and MathJax can
    not be assumed to be generally available!

    Use ld-fonts.css to ensure that it is available. */

    --default-font-family:
        "Noto Sans Display", "Noto Sans", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;

    --code-font-family: "Victor Mono", "Monospace", monospace;

    --pre-font-family: "Monospace", monospace;
    --monospaced-font-family: var(--pre-font-family);

    --large-text-font-family: var(--default-font-family);
    --text-font-family: "Noto Serif", "Times New Roman", serif;

    --math-font-family: "MathJax Main", "Noto Serif", "Times New Roman", serif;

    /***************************************************************************

    Side specific properties (s = slide; d = document)

    ***************************************************************************/

    /*  48px results in ~16 lines of text and one header line
        on a 1200px height slide. */
    --unitless-s-font-size: 48; /* required for relative size computations */
    --s-font-size: calc(var(--unitless-s-font-size) * 1px);
    /*  We are using absolute sizes for the padding to ensure that footers and
        headers are independent of the current font size of a slide (e. g.,
        if the size of the font for a single slide is decreased, the footer
        should not be affected to retain a consistent look and feel). */
    --s-tb-padding: 20px; /* top and bottom padding of slides */
    --s-lr-padding: 36px; /* left and right padding of slides */
    --s-padding: var(--s-tb-padding) var(--s-lr-padding);
    --s-border-radius: 24px;

    --s-supplemental-font-size: calc(var(--s-font-size) * 0.75);

    --s-footer-height: 48px;
    --s-footer-font-size: 36px;

    /***************************************************************************

    Document specific properties (s = slide; d = document)

    ***************************************************************************/

    --unitless-d-font-size: calc(var(--unitless-s-font-size) / 3);
    --d-font-size: calc(var(--unitless-d-font-size) * 1px);
    --d-padding: var(--d-font-size);
    --d-supplemental-font-size: var(--d-font-size);

    /***************************************************************************

    Variables that help abstract over the differences between the 
    rendering modes. These variables are set in the respective slide and 
    document css files.

    ***************************************************************************/

    /*  The standard font size in the given context.

        Either: s-font-size or d-font-size

        Set in the context of the document view or the slide view to 
        the respective values. */
    --unitless-current-base-font-size: none;
    --current-base-font-size: none;

    /***************************************************************************

    Derived values.

    ***************************************************************************/

    --document-to-slide-font-size-ratio: calc(
        var(--unitless-d-font-size) / var(--unitless-s-font-size)
    );

    --slide-to-document-font-size-ratio: calc(
        var(--unitless-s-font-size) / var(--unitless-d-font-size)
    );
}
