/* LAYER: theme.ld */

:root {
    --author: "Prof. Dr. Michael Eichberg";

    &:lang(de) {
        --repetition: "Wiederholung";
        --excursion: "Exkursion";
        --motivation: "Motivation";
        --solution: "Lösung";
        --obsolete: "Obsolet";
        --outdated: "Veraltet";
    }

    &:lang(en) {
        --repetition: "Repetition";
        --excursion: "Excursion";
        --motivation: "Motivation";
        --solution: "Solution";
        --obsolete: "Obsolete";
        --outdated: "Outdated";
    }
}
