/* LAYER: theme.ld.document-view */

#ld-document-view {
    --unitless-current-base-font-size: var(--unitless-d-font-size);
    --current-base-font-size: calc(
        var(--unitless-current-base-font-size) * 1px
    );
    font-size: var(--current-base-font-size);

    .s-only {
        display: none;
    }

    > ld-section {
        display: block;

        margin-bottom: calc(var(--current-base-font-size) * 0.5);
        padding: var(--d-padding);
        border-radius: 0.25em;

        --current-bg-color: var(--bg-color);
        --current-rel-bg-color: var(--current-bg-color);
        background-color: var(--current-rel-bg-color);

        &.exercises,
        &.new-section {
            > h2 {
                border-radius: 0.25em;
                padding: 0.25em;

                font-family: var(--large-text-font-family);
                font-weight: 300;
                font-size: 2em;
                text-align: center;
            }
        }

        &.exercises > h2 {
            background-color: var(--light-gray);
            text-shadow: 1px 1px 1px var(--white);
        }

        &.new-section > h2 {
            background-color: var(--dark-gray);
            color: var(--white);
            text-shadow: 1px 1px 1px var(--black);
        }

        > footer {
            border-bottom: 1px solid var(--light-gray);
            border-top: 1px solid var(--light-gray);

            > .ld-dv-section-number {
                text-align: right;
                color: var(--gray);
            }
        }

        &.motivation::before,
        &.repetition::before,
        &.obsolete::before,
        &.outdated::before {
            display: block;
            text-align: center;
            padding: 0.25em 2.5em;
            color: var(--dark-red);
            border-bottom: 1px solid var(--dark-red);
        }
        &.repetition::before {
            content: var(--repetition);
        }
        &.motivation::before {
            content: var(--motivation);
        }
        &.obsolete::before {
            content: var(--obsolete);
        }
        &.outdated::before {
            content: var(--outdated);
        }

        &.summary > h2:first-child {
            padding: calc(var(--d-padding) * 0.5);
            border-radius: var(--small-border-radius);
        }
    }

    /*  In the document view supplemental information is shown where it was
        defined, but we add a little separator to make it more clear that this
        is supplemental information. */
    .supplemental {
        clear: both;
        margin-top: 1em;
        border-top: 1px dashed var(--dark-gray);
        padding: calc(var(--current-base-font-size) * 0.5) 0;
        --current-base-font-size: var(--d-supplemental-font-size);
        font-size: var(--current-base-font-size);
        line-height: var(--d-supplemental-line-height);

        & + .supplemental {
            margin-top: 0;
        }
    }

    /*  When we extract an exercise, we will first show an input field for the
        password, which we will replace with the solution once the password
        was entered. */
    .ld-extracted-exercise {
        margin-bottom: 0.5em;

        + .ld-extracted-exercise {
            border-top: solid 1px var(--light-gray);
            padding-top: 0.5em;

            @media print {
                break-before: page;
            }
        }

        input {
            width: 100%;

            margin-bottom: 0.5em;
            border: 1px solid var(--light-gray);
            border-radius: 0.5em;
            padding: 0.5em;

            box-shadow: var(--br-shadow);
        }
    }

    .ld-exercise-solution {
        &[data-encrypted] {
            display: none;
        }
        border-radius: var(--medium-border-radius);

        &::before {
            content: counter(section) "." counter(exercise) ".\00a0\00a0 "
                var(--solution);
            display: block;
            margin-bottom: 0.5em;
            padding: 0 0.25em;
            line-height: 1.4em;
            font-size: 1.15em;

            border-radius: var(--medium-border-radius);
            background-color: var(--light-gray);
            color: var(--white);
            font-weight: 500;
            text-shadow: 1px 1px 1px var(--gray);
        }
    }

    /*  Numbering sections and exercises. */
    counter-reset: section;
    counter-reset: exercise;

    p.ld-exercise-title {
        --current-bg-color: var(--light-gray);
        background-color: var(--current-bg-color);
        border-radius: var(--medium-border-radius);

        position: relative;
        padding-left: 3em;

        &::before {
            display: block;
            position: absolute;
            left: 0em;
            width: 2.25em;
            height: 100%;
            counter-increment: exercise;
            content: counter(section) "." counter(exercise) ".";

            padding: 0 0.25em;
            border-radius: var(--medium-border-radius) 0 0
                var(--medium-border-radius);

            background-color: var(--gray);
            color: var(--white);
        }
    }

    .new-section {
        > h2:first-child::before {
            content: counter(section) ". ";
        }

        counter-increment: section;
        counter-set: exercise 0;
    }

    /*  In the document view cards are just rendered below each other.

        (In the presentation view they are rendered on top of each other.)
     */
    ld-card:has(+ *) {
        margin-bottom: var(--default-bottom-margin);
    }

    /***************************************************************************

        In the document view popovers are always visible and rendered inline.

    ***************************************************************************/

    div[popover] {
        display: block;
        position: static;

        background-color: var(--current-bg-color);
    }

    button.popover {
        display: none;
    }
}

@media print {
    #ld-document-view > ld-section {
        break-before: page;

        display: flex;
        flex-direction: column;

        /*  AS OF DECEMBER 2025:
            The "&" in front of the ">" is required inside "@media print".
            CSS Nesting support in print media is not yet fully implemented
            in Chrome and Safari. */
        & > footer {
            /* The following should push the footer to the bottom of the 
               page, but this doesn't work in Chrome and Safari (December 2025) and the "page number" would be meaningless anyway, because the section might span multiple pages. 
            min-height: 100vh;
            margin-top: auto;
            break-inside: avoid;*/
            
            border-bottom: none;
            border-top: none;

            &:has(:not(.ld-dv-section-number)) {
                border-top: 1px solid var(--light-gray);
            }

            > .ld-dv-section-number {
                display: none;
            }
        }
    }
}
