ld-group-assignment {
    &::part(result) {
        width: 100%;
    }
    &::part(heading) {
        margin-top: 0;
    }
    &::part(form) {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    &::part(label) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &::part(group-list) {
        list-style-position: inside;
        padding-inline-start: 0;
    }
    &::part(input) {
        box-sizing: border-box;
        font-size: inherit;
        width: 10em;
        border-radius: var(--small-border-radius);
    }
    &::part(checkbox) {
        zoom: calc(var(--unitless-current-base-font-size) / 12);
        width: 1em;
        height: 1em;
    }
    &::part(button) {
        font-size: inherit;
        width: 10em;
        margin-left: auto;
        background-color: var(--button-bg-color);
        color: var(--button-fg-color);
        border-radius: var(--small-border-radius);
        box-shadow: none;
        border: none;
    }

    &::part(button):hover {
        background-color: var(--button-hover-bg-color);
        color: var(--button-hover-fg-color);
        transition: 0.5s;
    }

    &::part(table) {
        width: 100%;
    }
    &::part(caption) {
        text-align: center;
    }
    &::part(cell) {
        padding-left: 1em;
        width: 50%;
    }
    &::part(cell header) {
        text-align: right;
    }
}
