ld-all-global-information {
    > dialog {
        max-width: max(80%, 80em);
        max-height: max(80%, 40ch);
        overflow: hidden;

        &:popover-open {
            display: flex;
            flex-direction: column;
        }

        > ld-global-information {
            display: block;
            flex-grow: 1;
            min-height: 0;
            width: 100%;
            max-width: 100%;
            overflow: auto;
            padding: 0.5em;
        }

        > ld-global-information[type="cheat-sheet"] {
            --current-base-font-size: var(--d-font-size);
            font-size: var(--current-base-font-size);
        }
        > ld-global-information[type="slide"] {
            --current-base-font-size: calc(var(--d-font-size) * 1.5);
            font-size: var(--current-base-font-size);
        }
    }
}
