/* LAYER: theme.ld.slide */

/*
    Styling that is used when a topic is rendered as a slide.
*/
ld-slide {
    border-radius: var(--s-border-radius);
    padding: var(--s-padding);

    --current-color: var(--s-text-color);
    color: var(--current-color);
    --current-background-color: var(--s-background-color);
    background-color: var(--current-background-color);

    --unitless-current-base-font-size: var(--unitless-s-font-size);
    --current-base-font-size: var(--s-font-size);
    font-size: var(--current-base-font-size);
    font-weight: var(--s-font-weight);
    line-height: var(--s-line-height);

    &:first-of-type {
        /* Special styling for the title slide! */
        dl {
            dd {
                margin-left: 6em;
            }

            &.sources {
                color: var(--gray);
            }
        }

        h1 {
            position: relative;
            left: calc(var(--s-lr-padding) * -1);
            width: calc(100% + var(--s-lr-padding));
            margin-top: var(--s-lr-padding);
            border-radius: 0 var(--s-border-radius) var(--s-border-radius) 0;
            padding: calc(var(--s-tb-padding) * 2.5) var(--s-lr-padding);

            background-color: var(--dark-gray);
            color: var(--white);
            font-size: calc(var(--s-font-size) * 2.5);
            font-weight: var(--s-title-font-weight);
        }
    }

    .supplemental {
        font-size: var(--s-supplemental-font-size);
    }

    &.excursion::before,
    &.motivation::before,
    &.repetition::before,
    &.outdated::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: calc(var(--s-font-size) / 3);
        z-index: 1;
        padding: 0.1em 0.5em 0.1em 1.5em;
        text-align: center;
        border-radius: 0 0 9.6px 9.6px;
        letter-spacing: 125%;
        background-color: var(--semi-light-gray);
        color: var(--white);
        backdrop-filter: blur(2px);
    }

    &.excursion::before {
        content: var(--excursion);
    }

    &.repetition::before {
        content: var(--repetition);
    }

    &.motivation::before {
        content: var(--motivation);
    }

    &.outdated::before {
        background-color: var(--dark-red);
        content: var(--outdated);
    }

    /* The solution will only be shown in the respective pane. */
    .ld-exercise-solution {
        display: none;
    }

    /*
    Styling of slides which contain lecture-integrated exercises.
    */
    &.exercises {
        > h2:first-child {
            margin: calc(var(--s-tb-padding) * -1)
                calc(var(--s-lr-padding) * -1) var(--s-tb-padding)
                calc(var(--s-lr-padding) * -1);
            padding: var(--s-padding);
            background: var(--light-gray);
            color: var(--dark-red);
            text-shadow: 1px 1px 2px white;
        }
    }

    .ld-exercise {
        > p.rubric {
            position: relative;
            overflow: hidden;
        }

        & + .ld-exercise {
            margin-top: 0.5em;
        }

        &>p.ld-exercise-title.rubric {
            font-size: var(--s-font-size);

            padding-left: calc(2.5 * var(--s-lr-padding));
            border-radius: var(--small-border-radius);

            --current-background-color: var(--very-very-light-blue);
            background-color: var(--current-background-color);
            
            &::before {
                content: "✎";
                position: absolute;
                left: 0;
                top: 0;
                width: 1.5em;
                height: 100%;
                text-align: center;
                background-color: var(--light-gray);
                color: var(--white);
                text-shadow: 1px 1px 1px var(--dark-gray);
            }
        }
    }

    &.new-subsection {
        align-content: center;

        > h2:first-child {
            width: calc(100% + var(--s-lr-padding));
            margin-left: calc(-1 * var(--s-lr-padding));
            padding: calc(var(--s-tb-padding) * 1.75) var(--s-lr-padding);
            border-radius: 0 var(--s-border-radius) var(--s-border-radius) 0;

            color: var(--dark-gray);
            background-color: var(--semi-light-gray);

            font-size: 1.5em;
            text-align: center;
        }
    }

    &.s-center-child-elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footnote-list {
        font-size: 0.7em;
    }

    > .footnote-list {
        position: absolute;
        bottom: 0;
    }

    * > .footnote-list {
        margin-top: 0.75em;
        border-top: thin solid var(--dark-gray);
        padding-top: 0.2em;

        > .footnote {
            margin-bottom: 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    /*  Generic styling for per-slide footer elements. */
    .footer-left,
    .footer-right,
    .block-footer {
        position: absolute;

        font-size: var(--s-footer-font-size);
    }

    .footer-left {
        bottom: var(--s-lr-padding);
    }

    .footer-right {
        bottom: var(--s-tb-padding);
        right: var(--s-lr-padding);
    }

    /*  Converts a container into a generic footer element. Intended to be combined
        with other classes to style the block footer. */
    .block-footer {
        bottom: 0;
        left: 0;
        width: var(--ld-slide-width);
        height: var(--s-footer-height);
        padding-left: var(--s-lr-padding);
        padding-right: var(--s-lr-padding);
        padding-bottom: 1.5em;
    }

    &.summary > h2:first-child {
        padding: var(--s-padding);
        position: relative;
        left: -0.5em;
        top: -0.5em;
        margin-bottom: 0;
        width: calc(100% + 2 * var(--s-lr-padding));

        + * {
            margin-top: 0;
        }
    }

    &.s-vertical-title {
        display: flex;
        flex-direction: row;

        > h2:first-child {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-size: calc(var(--s-font-size) * 1.25);
            text-align: center;
        }
    }

    /* IMPROVE Currently, the position is fixed. */
    .scale-on-hover {
        position: absolute;
        z-index: 1;
        right: 0;
        padding: 0.5em;
        border-radius: var(--small-border-radius);

        transform-origin: top right;
        transform: scale(0.35);
        transition: all 0.5s;

        &.\:hover {
            border: thin solid rgb(0 0 0 / 50%);
            transform: scale(1);

            background-color: color-mix(
                in srgb,
                var(--current-background-color),
                transparent 35%
            );
            backdrop-filter: blur(4px);
            transition: all 0.5s;
        }
    }
}
