/* LAYER: theme.ld.slide-view */

#ld-slides-pane {
    ld-slide {
        --ld-rel-max-supplemental-area-width: 85%;
        --ld-rel-max-supplemental-area-height: 85%;

        ld-scrollable {
            &::before {
                content: "⇡\A⇣";

                display: block;
                /* When we want to the right instead of on top...
                float: right;
                position: sticky;
                */
                position: absolute;
                right: 0.15em;
                top: 0;
                z-index: 1;
                white-space: pre;
                color: rgb(150 150 150 / 50%);
                text-shadow: 1px 1px 2px var(--white);
            }
        }

        /*  Styling of Supplemental Information
            -----------------------------------

            Aggregation of all supplemental information on a slide in one
            ld-supplementals element is done by Javascript.

            The aggregated supplemental information is then positioned on the
            right side of the slide and can be expanded when necessary.
        */
        ld-supplementals {
            display: block;
            max-width: var(--ld-rel-max-supplemental-area-width);
            max-height: var(--ld-rel-max-supplemental-area-height);
            margin: 0;
            border-radius: var(--s-border-radius) 0 0 var(--s-border-radius);
            padding: calc(var(--s-tb-padding) * 0.75)
                calc(var(--s-lr-padding) * 0.75);
            /*  The factor has to be larger than the factor used by translate
                (see below) to ensure that the content is never visible when
                the supplemental information is not expanded. */

            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            overflow-y: scroll;

            background-color: rgb(from var(--background-color) r g b / 75%);
            backdrop-filter: blur(8px);

            transform: translateX(calc(100% - var(--s-lr-padding) * 0.5))
                translateY(calc(var(--ld-slide-height) * 0.5 - (100% * 0.5)));
            box-shadow: var(--trbl-shadow);
            transition: 0.75s;

            /*  We can't use the :hover pseudo class here, because we want to be
                able to apply the styling in the non-primary window. */
            &.hover\:ld-supplementals {
                transform: translateX(0%)
                    translateY(
                        calc(var(--ld-slide-height) * 0.5 - (100% * 0.5))
                    );
                transition: 0.75s;
            }

            ld-supplemental {
                display: block;

                + ld-supplemental {
                    margin-top: 0.5em;
                    border-top: 1px dashed var(--dark-gray);
                    padding-top: 0.5em;
                }
            }
        }

        /*  Styling of Presenter Notes
            --------------------------

            In the document we only show a marker and only if we hover over it,
            the presenter notes are shown at the bottom.
        */
        ld-presenter-note-marker {
            > div {
                display: block;
                position: absolute;
                z-index: 1;
                width: 1.5em;
                height: 1.5em;
                /*  We don't want to make the size of the marker dependent on the
                    current font-size that is "accidentally" in effect. */
                font-size: 24px;
                translate: 0 -1.33lh;
                border-radius: 25%;

                font-weight: bolder;
                text-align: center;

                background-color: rgb(180 180 250 / 50%);
                color: black;
                text-shadow: 1px 1px 2px white;
            }
        }

        ld-presenter-notes {
            position: absolute;
            width: calc(100% - 10px);
            bottom: 5px;
            left: 5px;
            z-index: 1;
            overflow: hidden;
            border-radius: var(--medium-border-radius);

            > ld-presenter-note {
                display: none;
                padding: 0.25em 0.5em;
                font-size: 38px;

                &::before {
                    content: attr(data-presenter-note-id);

                    display: block;
                    width: 100%;
                    margin-bottom: 0.1em;
                    padding-bottom: 0.1em;
                    border-bottom: thin solid var(--dark-gray);

                    text-align: center;
                    font-size: smaller;
                }

                backdrop-filter: blur(4px);

                /* The custom class .hover is added/removed programmatically. */
                &.hover\:ld-presenter-note {
                    display: block;
                }
            }
        }
    }

    /***************************************************************************

        Support for Popover Elements

    ***************************************************************************/

    dialog[popover] {
        max-width: max(60em, 80%);

        margin: revert;
        border-radius: var(--medium-border-radius);
        padding: var(--default-container-padding);

        box-shadow: var(--trbl-shadow);

        background-color: lch(from var(--background-color) l c h / 80%);

        &::backdrop {
            backdrop-filter: blur(4px);
        }
    }

    button[popovertarget] {
        border-radius: var(--small-border-radius);
        margin: var(--small-border-radius);
        padding: var(--default-container-padding);

        cursor: pointer;

        background-color: var(--button-background-color);
        color: var(--button-color);

        &:hover {
            scale: 1.01;

            outline: thin solid var(--border-color);

            background-color: var(--button-hover-background-color);
            color: var(--button-hover-color);
        }

        transition:
            scale 0.5s ease,
            color 0.5s ease-in-out,
            background-color 0.75s ease-in-out;
    }
}
