/* LAYER: theme.ld.slide */

/*
    Styling that is used when a topic is rendered as a slide.
*/
ld-slide {
    border-radius: var(--s-border-radius);
    padding: var(--s-padding);

    --current-fg-color: var(--fg-color);
    --current-rel-fg-color: var(--current-fg-color);
    color: var(--current-rel-fg-color);
    --current-bg-color: var(--bg-color);
    --current-rel-bg-color: var(--current-bg-color);
    background-color: var(--current-rel-bg-color);

    --unitless-current-base-font-size: var(--unitless-s-font-size);
    --current-base-font-size: calc(
        var(--unitless-current-base-font-size) * 1px
    );
    font-size: var(--current-base-font-size);

    &:first-of-type {
        /* Special styling for the title slide! */
        dl {
            dd {
                margin-left: 6em;
            }

            &.sources {
                color: var(--peripheral-fg-color);
            }
        }

        h1 {
            position: relative;
            left: calc(var(--s-lr-padding) * -1);

            width: calc(100% + var(--s-lr-padding));
            
            margin-top: var(--s-lr-padding);
            border-radius: 0 var(--s-border-radius) var(--s-border-radius) 0;
            padding: calc(var(--s-tb-padding) * 2.5) var(--s-lr-padding);

            font-size: calc(var(--s-font-size) * 2.5);
            font-weight: var(--s-title-font-weight);

            --current-bg-color: var(--dark-gray);
            --current-rel-bg-color: var(--current-bg-color);
            background-color: var(--current-rel-bg-color);
            --current-fg-color: var(--white);
            --current-rel-fg-color: var(--current-fg-color);
            color: var(--current-rel-fg-color);
        }
    }

    .supplemental {
        font-size: var(--s-supplemental-font-size);
    }

    &.excursion::before,
    &.motivation::before,
    &.repetition::before,
    &.outdated::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        padding: 0.1em 0.5em 0.1em 1.5em;
        border-radius: 0 0 9.6px 9.6px;

        font-size: calc(var(--s-font-size) / 3);
        text-align: center;
        letter-spacing: 125%;
        background-color: var(--semi-light-gray);
        color: var(--white);
        backdrop-filter: blur(2px);
    }

    &.excursion::before {
        content: var(--excursion);
    }

    &.repetition::before {
        content: var(--repetition);
    }

    &.motivation::before {
        content: var(--motivation);
    }

    &.outdated::before {
        background-color: var(--dark-red);
        content: var(--outdated);
    }

    /* The solution will only be shown in the respective pane. */
    .ld-exercise-solution {
        display: none;
    }

    /*
    Styling of slides which contain lecture-integrated exercises.
    */
    &.exercises {
        > h2:first-child {
            margin: calc(var(--s-tb-padding) * -1)
                calc(var(--s-lr-padding) * -1) var(--s-tb-padding)
                calc(var(--s-lr-padding) * -1);
            padding: var(--s-padding);
            background: var(--light-gray);
            color: var(--dark-red);
            text-shadow: 1px 1px 2px white;
        }
    }

    .ld-exercise {
        > p.rubric {
            position: relative;
            overflow: hidden;
        }

        & + .ld-exercise {
            margin-top: 0.5em;
        }

        & > p.ld-exercise-title.rubric {
            font-size: var(--s-font-size);

            padding-left: calc(2.5 * var(--s-lr-padding));
            border-radius: var(--small-border-radius);

            --current-bg-color: var(--very-very-light-red);
            background-color: var(--current-bg-color);
            --current-fg-color: var(--very-dark-red);
            color: var(--current-fg-color);

            &::before {
                content: "✎";
                position: absolute;
                left: 0;
                top: 0;
                width: 1.5em;
                height: 100%;
                text-align: center;
                background-color: var(--light-gray);
                color: var(--white);
                text-shadow: 1px 1px 1px var(--dark-gray);
            }
        }
    }

    &.new-subsection {
        align-content: center;

        > h2:first-child {
            width: calc(100% + var(--s-lr-padding));
            margin-left: calc(-1 * var(--s-lr-padding));
            padding: calc(var(--s-tb-padding) * 1.75) var(--s-lr-padding);
            border-radius: 0 var(--s-border-radius) var(--s-border-radius) 0;

            color: var(--dark-gray);
            background-color: var(--semi-light-gray);

            font-size: 1.5em;
            text-align: center;
        }
    }

    &.s-center-child-elements {
        /* TODO How about:  display: grid; place-items: center;  */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footnote-list {
        font-size: 0.7em;
    }

    > .footnote-list {
        position: absolute;
        bottom: 0;
    }

    * > .footnote-list {
        margin-top: 0.75em;
        border-top: thin solid var(--dark-gray);
        padding-top: 0.2em;

        > .footnote {
            margin-bottom: 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    /*  Generic styling for per-slide footer elements. */
    .footer-left,
    .footer-right,
    .block-footer {
        position: absolute;

        font-size: var(--s-footer-font-size);
    }

    .footer-left {
        bottom: var(--s-lr-padding);
    }

    .footer-right {
        bottom: var(--s-tb-padding);
        right: var(--s-lr-padding);
    }

    /*  Converts a container into a generic footer element. Intended to be combined
        with other classes to style the block footer. */
    .block-footer {
        bottom: 0;
        left: 0;
        width: var(--ld-slide-width);
        height: var(--s-footer-height);
        padding-left: var(--s-lr-padding);
        padding-right: var(--s-lr-padding);
        padding-bottom: 1.5em;
    }

    &.summary > h2:first-child {
        padding: var(--s-padding);
        position: relative;
        left: -0.5em;
        top: -0.5em;
        margin-bottom: 0;
        width: calc(100% + 2 * var(--s-lr-padding));

        + * {
            margin-top: 0;
        }
    }

    &.s-vertical-title {
        display: flex;
        flex-direction: row;

        > h2:first-child {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-size: calc(var(--s-font-size) * 1.25);
            text-align: center;
        }
    }

    li.show-list-item-content-on-hover {
        > *:first-child::before {
            content: "⇢ ";
            color: color-mix(
                in srgb,
                var(--current-rel-fg-color) 80%,
                var(--current-rel-bg-color) 20%
            );
            font-family: var(--monospaced-font-family);
            font-weight: 900;
        }
        &.\:hover > *:first-child::before {
            content: "⇣ ";
        }
        /* Using a marker affects the numbering... Why?
        > *:first-child {
            display: list-item;
            list-style-position: inside;
            list-style-type: disclosure-closed;

            &::marker {
                color: color-mix(in srgb, var(--current-rel-fg-color) 80%, var(--current-rel-bg-color) 20%);
                / * font-size: 0.75em; <= good for safari, bad for firefox  * /
            }
        }
        &.\:hover > *:first-child {
            list-style-type: disclosure-open;
        }
        */
        > *:not(:first-child) {
            max-height: 0;
            overflow: hidden;
        }
        &.\:hover > *:not(:first-child) {
            max-height: 100vh;
            /* Some animation would be nice, but this affects many elements
               and we would need some way to coordinate them ... */
        }
    }

    /*
        We add a pop-out effect on a list item on hover.
    */
    li.pop-out-list-item-on-hover {
        transition: 0.5s;

        &.\:hover {
            transform-origin: left center;
            transform: scale(1.14);
        }
    }

    /* Scales a container on hover. 

       The container's content is expected to be an image that is designed 
       w.r.t. the document view.
       This class is intended to be used with generic containers. It must not be used on images directly, as it would interfere with the scaling logic of images.
      
       In this case the assumption is made that the image is designed w.r.t to the document view! I. e., contrary to the standard case, images are not scaled in the document view and only scaled in the slide view, when the user hovers over them. (Part of this logic is implemented in JavaScript!) */
    .scale-on-hover {
        position: relative;
        float: right;
        border-radius: var(--small-border-radius);

        transform-origin: top right;
        transition: all 0.5s;
        z-index: 1;

        &.\:hover {
            /*transform: scale(3);*/
            transform: scale(var(--slide-to-document-font-size-ratio));
            border: thin solid rgb(0 0 0 / 50%);
            transition: all 0.5s;
        }
    }
}
