/* LAYER: theme.ld */

:root {
    --default-margin: 0.5em;

    --small-border-radius: 0.2em;
    --medium-border-radius: 0.4em;

    --default-container-padding: 0.5em;

    --font-weight: 300;
    --line-height: 1.35;
    --code-line-height: 1.25;
    --default-text-shadow-dimensions: 0.5px 0.5px 0.5px;

    /* Shadows (t = top; b = bottom; l = left; r = right) */
    --shadow-extent: 0.3em;
    --shadow-margin: calc(var(--shadow-extent) / 1.125);
    --trbl-shadow: 0 0 var(--shadow-extent) 0 var(--shadow-color);
    /*  In general t-shadow in combination with a corresponding top margin:
        --shadow-margin is the preferred approach! */
    --t-shadow: 0px calc(var(--shadow-extent) * -1) var(--shadow-extent)
        calc(var(--shadow-extent) * -1) var(--shadow-color);
    --b-shadow: 0px var(--shadow-extent) var(--shadow-extent)
        calc(var(--shadow-extent) * -1) var(--shadow-color);
    --r-shadow: var(--shadow-extent) 0px var(--shadow-extent)
        calc(var(--shadow-extent) * -1) var(--shadow-color);
    --full-r-shadow: var(--shadow-extent) 0px var(--shadow-extent)
        calc(var(--shadow-extent) * -0.25) var(--shadow-color);

    --field-indent: 5em;

    /*

        Definition of the color scheme.

        The default color scheme is the light scheme.

    */
    --bg-color: var(--white);
    --fg-color: var(--black);
}
