/* LAYER: theme.ld */

.peripheral {
    color: var(--meta);
}

/*  Intendended to be used with compounds or containers.

    Complements the "s" role which maps to the HTML5's "s" element.*/
.obsolete {
    text-decoration: line-through;
}

.ger {
    font-style: italic;

    &::before {
        content: "🇩🇪 ";
        mix-blend-mode: luminosity;
    }
}

.eng {
    font-style: italic;

    &::before {
        content: "🇺🇸 ";
        mix-blend-mode: luminosity;
    }
}

/*  Intended to be used with elements which define some kind of visual border
    and which contain floating elements which should not escape their parent
    container.
 */
.encapsulate-floats::after {
    content: "";
    clear: both;
    display: table;
}

/*  Intended to be used with elements which define some kind of visual border
    and which contain floating elements which should not escape their parent
    container.
 */
.clear-float {
    clear: both;
    display: table;
    margin-top: var(--default-margin);
}

.trbl-shadow {
    margin: var(--shadow-margin);
    box-shadow: var(--trbl-shadow);
}

/*******************************************************************************

    Colors

*******************************************************************************/

.white {
    --current-fg-color: var(--white);
    --current-rel-fg-color: var(--current-fg-color);
    color: var(--current-rel-fg-color);
}

.black {
    --current-fg-color: var(--black);
    --current-rel-fg-color: var(--current-fg-color);
    color: var(--current-rel-fg-color);
}

.light-gray {
    --current-fg-color: var(--light-gray);
    --current-rel-fg-color: var(--current-fg-color);
    color: var(--current-rel-fg-color);
}

.gray {
    color: var(--gray);
}

.blue {
    color: var(--blue);
}

.orange {
    color: var(--orange);
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}
