/* 
    This demonstrates how to style LectureDoc documents.
*/


small {
    font-size: smaller;
}

ul {
    list-style-type: disc;
    list-style-position: outside;    
    padding-left: 60px;
}

ol {
    list-style-position: outside;    
    padding-left: 60px;
}

.admonition {
    margin: 25px 0px;
    background-color: rgb(251, 200, 200);
    border: 0;
    border-radius: 25px;
}

/* Important! This fixes a MathJax rendering issue! */ 
p.admonition-title {
    margin: 0;
    padding-bottom: 25px;
}

.ld-slide {
    border-radius: 25px;
}

img.logo {
    position: absolute;
    bottom: 100px;
    right: 275px;
    scale: 4;
}

blockquote {
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(55,55,55,0.075);
}

.admonition.note {
    float: right;
    background-color: rgb(255, 255, 203);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24px;
    max-width: 40%;
}

.admonition-definition {
    background-color: rgb(157, 255, 204);
}

pre.code {
    margin:0;
}

.smaller {
    font-size: smaller;
}

.small {
    font-size: 30px;
}

.tiny {
    font-size: 24px;
}

.hexdump {
    font-family: monospace;
}

.monospaced {
    font-family: monospace;
}

table.compact {
    line-height: 1;
    padding: 0;
    margin: 0;
}

table.compact td {
    border: 0;
    padding: 0;
}


/* fix for an rst2ld issue related to the csv tables */
table.align-center tr{
    text-align: center;
}

table.invisible {
    border: 0;
    margin: 0;
    padding: 0;
}
table.invisible :is(td,th), 
table.no-borders :is(td,th)  {
    border: 0;
}


table.header-column td:first-child {
    font-weight: bold;
}


.enable-copy-to-clipboard {
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(255, 235, 211);
    user-select: initial;
    -webkit-user-select: initial;
}
.enable-copy-to-clipboard::before {
    content: "Select and copy to clipboard:";
    color: white;
    background-color: gray;
    border-radius: 8px;
    user-select: none;
    -webkit-user-select: none;
    padding-left: 24px;
    padding-right: 24px;
}


span.ger { 
    color: gray;
    font-style: italic;
}
span.ger::before { 
    content: "(dt. ";
}
span.ger::after { 
    content: ")";
}

span.red {
    color: rgb(131, 0, 0);
}
span.blue {
    color: rgb(0, 0, 155);
}
span.green {
    color: rgb(0, 88, 0);
}

.not-important {
    color: rgb(175, 175, 175)
}

.separated {
     border-top: 1px solid gray;
}

.two-columns {
    column-count: 2;
    column-gap: 96px;
    column-rule: 2px solid gray;
    width: 100%;
}

.three-columns {
    column-count: 3;
    column-gap: 64px;
    column-rule: 2px solid gray;
    width: 100%;
}

/* Primarily meant as a hint to avoid breaks insides columns. */ 
.column {
    break-inside: avoid;
}

td:has(p>span.red) {
    background-color: rgb(255, 162, 162);
    font-weight: bold;
}