/* Theming of LectureDoc controls and configuration of the most basic assumptions. */


body {
    /*  48px to have roughly 20 lines of text on a slide 
        with a height of 1080px.
    */
    font: 48px "Helvetica", sans-serif;
    line-height: 1.5;
}

/* styling of all "overlay windows" */
#ld-help, #ld-jump-target, #ld-light-table {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 4px 4px 6px black,  -4px -4px 6px black,  -4px 4px 6px black,  4px -4px 6px black;            
    border: 1px solid rgb(48, 48, 48);
    border-radius: 10px;
}

/* z-index: 1000 */ 
#ld-help {
    /* used by ld: display, opacity, z-index, position, transition */
    font-size: 12px;
    color: white;
}

#ld-help p {
    margin-top: 9px;
}

#ld-help table {
    width: 100%;
    border: 1px solid gray;
    background-color: black;
    border-spacing: 20px 10px;
    border-radius: 10px;
}

#ld-help th {
    border-bottom: 1px solid gray;
    text-align: left;
}

#ld-jump-target {
    font-size: 18px;
    color: white;
    padding:10px;
}

#ld-light-table-header {
    font-size: 12px;
    color: white;
    padding: 10px;
    width: 100%;
    background-color: rgb(27, 26, 26);
} 

#ld-light-table-slides {
    padding:10px; 
    gap:10px;
}

.ld-light-table-slide-overlay:hover {
    opacity: 0;
}

.ld-light-table-slide-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition:opacity 333ms ease-in;
}

.ld-slide {
    padding: 45px;
    background-color: white;
}
