/* LAYER: ui.element */

#ld-help {
    min-width: 45vw;
    max-width: 75vw;
    max-height: 75vh;
    margin: 1em;

    overflow-y: scroll;
    overflow-x: scroll;

    h2 {
        margin-top: 0.75em;
        margin-bottom: 0.4em;
    }

    table {
        background-color: var(--ld-ui-table-background-color);

        td {
            vertical-align: top;

            p {
                font-size: smaller;
                filter: brightness(0.7);
            }
        }

        th {
            line-height: 200%;

            text-align: left;
        }

        tr.ld-help-keys-category {
            line-height: 200%;

            font-weight: var(--ld-ui-font-weight-bold);
            font-style: italic;
            text-align: center;
            background-color: var(--ld-ui-table-highlight-cell-background-color);
        }
    }
}