/* LAYER: ui.element */

#ld-message-box {
    position: fixed;
    top: 48px;
    margin: auto;
    padding: 0.5em;

    font-size: var(--ld-ui-message-font-size);

    color: var(--ld-ui-message-color);
    background-color: var(--ld-ui-message-background-color);

    box-shadow: var(--ld-ui-box-shadow);
}
