/* LAYER: ui.element */

/*  ----------------------------------------------------------------------------

    The menu.

    The menu is a DIV element with the id ld-menu. It is placed in the top left 
    and expands when the mouse hovers over it.

    The icons are rendered as background images of DIV elements to make it 
    possible to open the slides from a file.
*/

@property --ld-menu-current-scale {
    /* this enables the animation */
    syntax: '<number>';
    initial-value: 0.05;
    inherits: true;
}

@media print {
    nav#ld-menu {
        display: none;
    }
}

#ld-menu {

    @media print {
        display: none;
    }

    --ld-menu-columns: 4;
    --ld-menu-rows: 3;
    --ld-menu-gap: 15px;
    --ld-menu-padding: 15px;
    --ld-menu-button-size: 120px;

    --ld-menu-full-width: calc(var(--ld-menu-columns) * var(--ld-menu-button-size) + calc(var(--ld-menu-gap) * (var(--ld-menu-columns) - 1)) + calc(var(--ld-menu-padding) * 2));
    --ld-menu-full-height: calc(var(--ld-menu-rows) * var(--ld-menu-button-size) + calc(var(--ld-menu-gap) * (var(--ld-menu-rows) - 1)) + calc(var(--ld-menu-padding) * 2)) *;

    --ld-menu-current-scale: 0.05;
    /* required by Firefox (June 2024) */
    --ld-menu-current-button-size: calc(var(--ld-menu-button-size) * var(--ld-menu-current-scale));
    --ld-menu-current-gap: calc(var(--ld-menu-gap) * var(--ld-menu-current-scale));

    width: calc(var(--ld-menu-full-width) * var(--ld-menu-current-scale));
    height: calc(var(--ld-menu-full-height) * var(--ld-menu-current-scale));
    margin: 1px;
    border-radius: calc(var(--ld-menu-padding) * var(--ld-menu-current-scale));
    padding: calc(var(--ld-menu-padding) * var(--ld-menu-current-scale));

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    display: grid;
    gap: var(--ld-menu-current-gap);
    grid-template-columns: repeat(var(--ld-menu-columns), var(--ld-menu-current-button-size));
    grid-template-rows: repeat(var(--ld-menu-rows), var(--ld-menu-current-button-size));

    background-color: var(--ld-ui-background-color);
    box-shadow: 2px 2px 4px, -1px -1px 2px gray;

    transition-property: --ld-menu-current-scale, margin;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    /*
        The menu is nearly invisible when we are presenting a slide. 
        When we are not presenting a slide, the menu is more visible.
    */
    &:not(:has(+ #ld-slides-pane[style*="display: none;"])) {
        opacity: 0.175;
    }

    /*  The ":where" selector is required by the :hover below! */
    &:has(+ :where(#ld-slides-pane[style*="display: none;"])) {
        opacity: 0.5;
        --ld-menu-current-scale: 0.1;
    }

    &:hover {
        --ld-menu-current-scale: 0.5;
        opacity: 0.975 !important;
        margin: 5px;
        transition-property: --ld-menu-current-scale, margin;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    > button {
        background-color: transparent;
        background-size: cover;

        &:hover {
            opacity: 0.15;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
        }

        &#ld-slides-button {
            background-image: url('icons/slides.svg');
            grid-column: 1;
            grid-row: 1;
        }

        &#ld-slides-with-nr-button {
            background-image: url('icons/slides-with-nr.svg');
            grid-column: 2;
            grid-row: 1;
        }

        &#ld-help-button {
            background-image: url('icons/help.svg');
            grid-column: 4;
            grid-row: 1;
        }

        &#ld-dv-button {
            background-image: url('icons/document-view.svg');
            grid-column: 1;
            grid-row: 2;
        }

        &#ld-table-of-contents-button {
            background-image: url('icons/toc.svg');
            grid-column: 4;
            grid-row: 2;
        }

        &#ld-light-table-button {
            background-image: url('icons/light-table.svg');
            grid-column: 1;
            grid-row: 3;
        }

        &#ld-exercises-passwords-button {
            background-image: url('icons/pwds.svg');
            grid-column: 4;
            grid-row: 3;
        }
    }
}