/* 
    This demonstrates how to style LectureDoc documents.
*/


small {
    font-size: smaller;
}

ul {
    list-style-type: disc;
    list-style-position: outside;    
    padding-left: 60px;
}

ol {
    list-style-position: outside;    
    padding-left: 60px;
}

.admonition {
    margin: 25px 0px;
    background-color: rgb(251, 200, 200);
    border: 0;
    border-radius: 25px;
}

/* Important! This fixes a MathJax rendering issue! */ 
p.admonition-title {
    margin: 0;
    padding-bottom: 25px;
}

.ld-slide {
    border-radius: 25px;
}

img.logo {
    position: absolute;
    bottom: 100px;
    right: 275px;
    scale: 4;
}

blockquote {
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(55,55,55,0.075);
}

.admonition.note {
    float: right;
    background-color: rgb(255, 255, 203);
    max-width: 40%;
}

.admonition-definition {
    background-color: rgb(157, 255, 204);
}

pre.code {
    margin:0;
}

.smaller {
    font-size: smaller;
}

.small {
    font-size: 30px;
}

.hexdump {
    font-size: 30px;
    font-family: monospace;
}

table.compact {
    line-height: 1;
    padding: 0;
    margin: 0;
}

table.compact td {
    border: 0;
    padding: 0;
}

/* fix for an rst2ld issue related to the csv tables */
table.align-center tr{
    text-align: center;
}

.enable-copy-to-clipboard {
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(255, 235, 211);
    user-select: initial;
    -webkit-user-select: initial;
}
.enable-copy-to-clipboard::before {
    content: "Select and copy to clipboard:";
    color: white;
    background-color: gray;
    border-radius: 8px;
    user-select: none;
    -webkit-user-select: none;
    padding-left: 24px;
    padding-right: 24px;
}


span.ger { 
    color: gray;
    font-style: italic;
}
span.ger::before { 
    content: "(dt. ";
}
span.ger::after { 
    content: ")";
}
