/* LAYER: utilities.slide */

/*
    The CSS classes defined in the following generally style only one property
    and are intended to enable fine-grained control of the design of a slide
    when needed. Therefore, all classes start with "s-" to indicate that they
    are only effective when rendered as a slide. I. e., they are not used when
    the content is rendered as a document. In particular, adapting the size of 
    fonts is sometimes necessary to get the content on a slide, but it should 
    be avoided and is often unnecessary in the document view.

    Overall, it is best to minimize the usage of these styles to avoid
    interference with a specific theme. That is, the stylings defined in this
    file are intended to be independent of a specific theme.
*/

ld-slide {
    /***************************************************************************

        Font sizes.

    ***************************************************************************/

    .s-font-size-1200 {
        font-size: 1200%;
    }

    .s-font-size-800 {
        font-size: 800%;
    }

    .s-font-size-400 {
        font-size: 400%;
    }

    .s-font-size-200 {
        font-size: 200%;
    }

    .s-font-size-150 {
        font-size: 150%;
    }

    .s-font-size-125 {
        font-size: 125%;
    }

    .s-font-size-110 {
        font-size: 110%;
    }

    .s-font-size-90 {
        font-size: 90%;
    }

    .s-font-size-80 {
        font-size: 80%;
    }

    .s-font-size-70 {
        font-size: 70%;
    }

    .s-font-size-60 {
        font-size: 60%;
    }

    /***************************************************************************

        Size and Positioning.

        The sizes are relative to the width of the parent element. Please note,
        that the width of a slide and the width of the document view, when
        used for printing are well aligned. Hence, playing around with the
        width of elements may cause problems when generating the pdfs.

    ***************************************************************************/

    .s-width-100 {
        width: 100%;
    }

    .s-width-75 {
        width: 75%;
    }

    .s-width-70 {
        width: 75%;
    }

    .s-width-60 {
        width: 60%;
    }

    .s-width-50 {
        width: 50%;
    }

    .s-width-40 {
        width: 40%;
    }

    .s-width-30 {
        width: 30%;
    }
}
