#ld-document-view {
    .d-font-size-1200 {
        font-size: 1200%;
    }

    .d-font-size-800 {
        font-size: 800%;
    }

    .d-font-size-400 {
        font-size: 400%;
    }

    .d-font-size-200 {
        font-size: 200%;
    }

    .d-font-size-150 {
        font-size: 150%;
    }

    .d-font-size-125 {
        font-size: 125%;
    }

    .d-font-size-110 {
        font-size: 110%;
    }

    .d-font-size-90 {
        font-size: 90%;
    }

    .d-font-size-80 {
        font-size: 80%;
    }

    .d-font-size-70 {
        font-size: 70%;
    }

    .d-font-size-60 {
        font-size: 60%;
    }
}