/* LAYER: theme.ld */

:root {
    --author: "Prof. Dr. Michael Eichberg";

    &:lang(de) {
        --repetition: "Wiederholung";
        --excursion: "Exkursion";
        --motivation: "Motivation";
        --solution: "Lösung";
    }

    &:lang(en)] {
        --repetition: "Repetition";
        --excursion: "Excursion";
        --motivation: "Motivation";
        --solution: "Solution";
    }

    /* Definition of all colors. */
    --white: rgb(255, 255, 255);
    --very-very-light-gray: rgb(254, 250, 252);
    --very-light-gray: rgb(245, 243, 248);
    --light-gray: rgb(222, 226, 228);
    --semi-light-gray: rgb(184, 186, 188);
    --gray: rgb(91, 105, 113);
    --dark-gray: rgb(51, 65, 73);
    --black: rgb(0, 0, 0);

    --very-light-green: rgb(245, 255, 225);
    --shiny-green: rgb(0, 255, 0);
    --light-green: rgb(0, 200, 0);
    --green: rgb(0, 150, 0);
    --dark-green: rgb(0, 88, 0);
    --light-transparent-green: rgb(0, 88, 0, 0.1);

    --very-light-blue: rgb(235, 236, 247);
    --light-blue: rgb(165, 172, 255);
    --blue: rgb(45, 62, 255);
    --dark-blue: rgb(32, 42, 151);

    --very-light-yellow: rgb(255, 255, 215);
    --yellow: #ff1;
    --dark-yellow: rgb(255, 230, 64);

    --light-orange: rgb(252, 202, 151);
    --orange: rgb(255, 128, 0);
    --dark-orange: rgb(205, 102, 0);

    --shiny-red: rgb(255, 0, 0);
    --very-light-red: rgb(255, 178, 178);
    --light-red: rgb(255, 158, 158);
    --red: rgb(226, 0, 26);
    --dark-red: rgb(140, 0, 17);
    --light-transparent-red: rgb(131, 0, 0, 0.1);

    --organic-red:
        radial-gradient(
            circle at 45% 130%,
            rgba(255, 255, 255, 0) 22%,
            rgba(255, 0, 0, 1) 53%,
            rgba(255, 0, 0, 0) 63%
        ),
        radial-gradient(
            circle at bottom right,
            rgba(0, 0, 0, 0) 32%,
            rgba(199, 20, 20, 1) 42%,
            rgba(255, 8, 0, 1) 52%,
            rgba(255, 255, 255, 0) 70%
        ),
        radial-gradient(
            circle at -20% -90%,
            rgba(0, 0, 0, 0) 32%,
            rgba(199, 20, 20, 1) 42%,
            rgba(255, 8, 0, 1) 52%,
            rgba(255, 255, 255, 0) 70%
        ),
        linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(170, 21, 20, 1) 35%,
            rgba(115, 0, 0, 1) 100%
        );

    --theme-font-family: var(--default-font-family);
    --theme-serif-font-family: var(--text-font-family);
    --theme-large-serif-font-family: var(--large-text-font-family);
    --theme-monospaced-font-family: var(--pre-font-family);
    --theme-code-font-family: var(--code-font-family);
    --theme-math-font-family: var(--math-font-family);

    /*  48px results in ~16 lines of text and one header line
        on a 1200px height slide. */
    --unitless-s-font-size: 48; /* required for relative size computations */
    --s-font-size: 48px;
    --s-font-weight: 250;
    --s-line-height: 1.3;
    --s-text-color: var(--black);
    --s-background-color-rgb-values: 255, 255, 255;
    --s-background-color: rgb(var(--s-background-color-rgb-values));
    /*  We are using absolute sizes for the padding to ensure that footers and
        headers are independent of the current font size of a slide (e. g.,
        if the size of the font for a single slide is decreased, the footer
        should not be affected to retain a consistent look and feel). */
    --s-tb-padding: 20px; /* top and bottom padding */
    --s-lr-padding: 36px; /* left and right padding */
    --s-padding: var(--s-tb-padding) var(--s-lr-padding);
    --s-border-radius: 24px;

    --s-supplemental-font-size: 40px;

    --s-footer-height: 48px;
    --s-footer-font-size: 36px;

    --unitless-d-font-size: 14;
    --d-font-size: 14px;
    --d-padding: var(--d-font-size);
    --d-line-height: 1.3;
    --d-supplemental-font-size: var(--d-font-size);
    --d-supplemental-line-height: var(--d-line-height);

    /*  The standard font size in the given context.

        Either: s-font-size or d-font-size

        Need to be set to a reasonable value; 256px is chosen to ensure that
        it is immediately visible when the current-base-font-size is not
        set appropriately! */
    --current-base-font-size: 256px;
    --unitless-current-base-font-size: 256;

    --current-background-color: var(--s-background-color);
    --emph-color: var(--dark-red);
    --separator-border: 2px solid var(--dark-gray);

    --default-bottom-margin: 0.5em;

    /* Shadows (t = top; b = bottom; l = left; r = right) */
    --br-shadow: 0.1em 0.1em 0.4em 0 var(--light-gray);
    /*
    --trbl-shadow:
        0.1em 0.1em 0.4em 0 var(--light-gray), -0.1em -0.1em 0.4em 0 var(--light-gray);
    --trbl-shadow-dark: 0.1em 0.1em 0.4em 0 var(--gray), 0.1em 0.1em 0.4em 0 var(--gray);
    */
    --trbl-shadow: 0 0 0.2em 0 var(--light-gray);
    --trbl-shadow-dark: 0 0 0.2em 0 var(--gray);

    --field-indent: 5em;
}
