/* LAYER: theme.ld.light-table */

#ld-light-table-dialog {
    ld-deck {
        transform-style: preserve-3d;
        
        /* Apply 3D transform if not all but the first child are overlays. */
        &:has(>:not(:first-child, .overlay)) {
            transform: translateY(5px) perspective(2500px) rotateX(50deg) scale(0.9);
        }

        > * {
            /*  Recall that all child elements of a deck are associated with 
                indexes by LectureDoc's Core which is part of the behavioral 
                layer. */

            /*  We can't have max inside of a calc() function. Hence, we have
                to "externalize" the calculation. */
            --ld-deck-child-offset: max(
                calc(120px - (var(--ld-deck-child-count) - 1) * 10px),
                5px
            );

            &.overlay {
                --ld-deck-child-offset: 0px;
            }

            transform: translateZ(
                calc(
                    (var(--ld-deck-child-index) - 1) *
                        var(--ld-deck-child-offset)
                )
            );

            border: 3px solid var(--gray);
            border-radius: 0.75em;
        }
    }

    ld-presenter-notes,
    ld-presenter-note {
        display: none;
    }
}
