

#ld-light-table-dialog .stack {

    /*
    First, we associate the nth-child layer with a custom data attribute index
    that we use in the css calculations!

    See https://crinkles.dev/writing/a-nth-child-css-trick/
    See https://crinkles.dev/writing/use-the-child-element-count-in-css/ 
    */

    .layer:nth-child(1) {
        --layer-index: 1;
    }

    .layer:nth-child(2) {
        --layer-index: 2;
    }

    .layer:nth-child(3) {
        --layer-index: 3;
    }

    .layer:nth-child(4) {
        --layer-index: 4;
    }

    .layer:nth-child(5) {
        --layer-index: 5;
    }

    .layer:nth-child(6) {
        --layer-index: 6;
    }

    .layer:nth-child(7) {
        --layer-index: 7;
    }

    .layer:nth-child(8) {
        --layer-index: 8;
    }

    .layer:nth-child(9) {
        --layer-index: 9;
    }

    .layer:nth-child(10) {
        --layer-index: 10;
    }

    transform-style: preserve-3d;
    transform: translateY(0px) perspective(2400px) rotateX(50deg);

    .layer {
        transform: translateZ(calc(var(--layer-index) * -50px));
    }

}