/* LAYER: theme.ld.light-table */

#ld-light-table-dialog {

    ld-deck {

        /*
        First, we associate the nth-child layer with a custom data attribute 
        index that we then use in the css calculations!

        See https://crinkles.dev/writing/a-nth-child-css-trick/
        See https://crinkles.dev/writing/use-the-child-element-count-in-css/ 
        */

        ld-card:nth-child(1) {
            --layer-index: 1;
        }

        ld-card:nth-child(2) {
            --layer-index: 2;
        }

        ld-card:nth-child(3) {
            --layer-index: 3;
        }

        ld-card:nth-child(4) {
            --layer-index: 4;
        }

        ld-card:nth-child(5) {
            --layer-index: 5;
        }

        ld-card:nth-child(6) {
            --layer-index: 6;
        }

        ld-card:nth-child(7) {
            --layer-index: 7;
        }

        ld-card:nth-child(8) {
            --layer-index: 8;
        }

        ld-card:nth-child(9) {
            --layer-index: 9;
        }

        ld-card:nth-child(10) {
            --layer-index: 10;
        }

        transform-style: preserve-3d;
        transform: translateY(0px) perspective(2400px) rotateX(50deg) scale(0.975);

        ld-card {
            transform: translateZ(calc(var(--layer-index) * -50px));

            border: 2px solid var(--gray);
        }
    }

    ld-presenter-notes,
    ld-presenter-note {
        display: none;
    }
}