/* LAYER: theme.ld.slide */

/* 
    Styling related to slides independent of the view mode.
*/
.ld-slide {

    color: var(--s-text-color);
    background-color: var(--slide-background-color);
    padding: var(--slide-padding);
    border-radius: var(--slide-border-radius);
    font-size: var(--sv-font-size);
    font-weight: var(--sv-font-weight);
    line-height: var(--sv-line-height);

    .supplemental {
        font-size: var(--sv-supplemental-font-size);
    }

    h2 {
        font-weight: 600;
    }

    .footnote-list {
        font-size: 0.7em;
    } 
    >.footnote-list {
        position: absolute;
        bottom: 0px;
    }
    * > .footnote-list {
        margin-top: 0.75em;
        border-top: thin solid var(--dark-gray);
        padding-top: 0.2em;
        > .footnote {
            margin-bottom: 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    /*
    Styling of slides which represent lecture-integrated exercise.
    */
    &.exercises {

        h2:first-child {
            margin: calc(var(--slide-tb-padding) * -1) calc(var(--slide-lr-padding) * -1) var(--slide-tb-padding) calc(var(--slide-lr-padding) * -1);
            padding: var(--slide-padding);
            background: var(--dhbw-light-gray);
            color: var(--dhbw-dark-red);
            text-shadow: 1px 1px 2px white;
        }
    }

    /* The solution will only be shown in the respective pane. */
    .ld-exercise-solution {
        display: none;
    }

    &.repetition::before{
        content: "Repetition";
    }
    &.wiederholung::before {
        content: "Wiederholung";
    }
    &.repetition::before,
    &.wiederholung::before {
        padding: 0.25em 2.5em;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        transform: translateX(28%) translateY(90%) rotate(45deg) ;
        color: var(--dark-red);
        border-bottom: 1px solid var(--dark-red);
        background-color: rgba(var(--slide-background-color-rgb-values), 0.75);
        backdrop-filter: blur(2px);
        --webkit-backdrop-filter: blur(2px);
    } 

    .ld-exercise {
        padding: 0.25em 0.5em;
        border: 1px solid var(--dark-gray);
        border-radius: 0.2em;

        >p.rubric {
            position: relative;
            overflow: hidden;
    
            &::after {
                content: " ";
                display: inline-block;
                position: absolute;
                margin: 0 0.25em;
                width: 100%;
                top: 1em;
                border-bottom: thin solid var(--white);
            }
        }

        &+.ld-exercise {
            margin-top: 0.5em;
        }
    }

    &.new-subsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >h2 {
            width: 100%;
            margin-left: calc(-2 * var(--slide-lr-padding));            
            padding: 0.4em 0;
            border-radius: 0 var(--slide-border-radius) var(--slide-border-radius) 0;
            
            color: var(--light-gray);
            background-color: var(--dark-gray);

            font-size: 1.666em;
            text-align: center;
        }
    }

    &.s-center-child-elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}