/* LAYER: theme.ld.slide */

/* 
    Styling related to slides independent of the view mode.
*/
.ld-slide {

    background-color: var(--slide-background-color);
    padding: var(--slide-padding);
    border-radius: var(--slide-border-radius);
    font-size: var(--slide-font-size);

    .supplemental {
        font-size: var(--sv-supplemental-font-size);
    }

    h2 {
        font-weight: 600;
    }

    &.no-title h2:first-child {
        display: none;
    }

    >.footnote-list {
        position: absolute;
        bottom: 0px;
        font-size: 0.7em;
    }


    /*
    Styling of slides which represent lecture-integrated exercise.
    */
    &.exercises {

        h2:first-child {
            margin: calc(var(--slide-tb-padding) * -1) calc(var(--slide-lr-padding) * -1) var(--slide-tb-padding) calc(var(--slide-lr-padding) * -1);
            padding: var(--slide-padding);
            background: var(--dhbw-light-gray);
            color: var(--dhbw-dark-red);
            text-shadow: 1px 1px 2px white;
        }
    }

    /* The solution will only be shown in the respective pane. */
    .ld-exercise-solution {
        display: none;
    }
}