/* LAYER: theme.ld */

.peripheral {
    color: var(--gray);
}

.obsolete {
    text-decoration: line-through;
}

.ger {
    color: var(--dhbw-gray);
    font-style: italic;

    &::before {
        content: "🇩🇪 ";
        mix-blend-mode: luminosity;
    }
}

.eng {
    color: var(--dhbw-gray);
    font-style: italic;

    &::before {
        content: "🇺🇸 ";
        mix-blend-mode: luminosity;
    }
}


