/* LAYER: theme.ld */

.peripheral {
    color: var(--gray);
}

.obsolete {
    text-decoration: line-through;
}

.ger {
    color: var(--dhbw-gray);
    font-style: italic;

    &::before {
        content: "🇩🇪 ";
        mix-blend-mode: luminosity;
    }
}

.eng {
    color: var(--dhbw-gray);
    font-style: italic;

    &::before {
        content: "🇺🇸 ";
        mix-blend-mode: luminosity;
    }
}


.transparent {
    background-color: transparent;
}

/*  Intended to be used with elements which define some kind of visual border
    and which contain floating elements which should not escape their parent 
    container.
 */
.encapsulate-floats::after {
    content: "";
    clear: both;
    display: table;
}

.trbl-shadow {
    box-shadow: var(--trbl-shadow)
}


/*******************************************************************************
    
    Colors
    
*******************************************************************************/


.white {
    color:var(--white);
}

.blue {
    color: var(--blue);
}

.orange {
    color: var(--orange);
}

.dark-orange {
    color: var(--dark-orange);
}

.green {
    color: var(--green)
}

.shiny-green {
    color: var(--shiny-green);
}

.shiny-red {
    color: var(--shiny-red);
}

.dark-red {
    color: var(--dark-red);
}

.red {
    color: var(--red);
}

.light-green-background {
    background-color: var(--light-green);
}

.light-gray-background {
    background-color: var(--light-gray);
}

.very-light-gray-background {
    background-color: var(--very-light-gray);
}

.black-background {
    background-color: var(--black);
}

.white-background {
    background-color: var(--white);
}

/* TODO: get rid of this class */
.the-green-background {
    background-color: var(--the-green);
}

/* TODO: get rid of this class */
.the-blue-background {
    background-color: var(--the-blue);
}

/* TODO: get rid of this class */
.the-yellow-background {
    background-color: var(--the-yellow);
}