/* LAYER: theme.ld */

.peripheral {
    color: var(--gray);
}

.obsolete {
    /* TODO Replace by del tag */
    text-decoration: line-through;
}

.ger {
    --current-color: var(--gray);
    font-style: italic;

    &::before {
        content: "🇩🇪 ";
        mix-blend-mode: luminosity;
    }
}

.eng {
    --current-color: var(--gray);
    font-style: italic;

    &::before {
        content: "🇺🇸 ";
        mix-blend-mode: luminosity;
    }
}

/*  Intended to be used with elements which define some kind of visual border
    and which contain floating elements which should not escape their parent
    container.
 */
.encapsulate-floats::after {
    content: "";
    clear: both;
    display: table;
}

.trbl-shadow {
    margin: 0.4em;
    box-shadow: var(--trbl-shadow);
}

.trbl-shadow-dark {
    margin: 0.4em;
    box-shadow: var(--trbl-shadow-dark);
}

/*******************************************************************************

    Colors

*******************************************************************************/

.white {
    color: var(--white);
}

.light-gray {
    color: var(--light-gray);
}

.gray {
    color: var(--gray);
}

.black {
    color: var(--black);
}

.blue {
    color: var(--blue);
}

.orange {
    color: var(--orange);
}

.dark-orange {
    color: var(--dark-orange);
}

.shiny-green {
    color: var(--shiny-green);
}

.green {
    color: var(--green);
}

.shiny-red {
    color: var(--shiny-red);
}

.red {
    color: var(--red);
}

.dark-red {
    color: var(--dark-red);
}

.parent-background-color { /* TODO rename ancestor-background-color */
    background-color: inherit;
}

.current-background-color { /* TODO What is the use case? */
    background-color: var(--current-background-color);
}

.transparent-background {
    --current-background-color: transparent;
    background-color: var(--current-background-color);
}

.light-green-background {
    --current-background-color: var(--light-green);
    background-color: var(--current-background-color);
}

.green-background {
    --current-background-color: var(--green);
    background-color: var(--current-background-color);
}

.yellow-background {
    --current-background-color: var(--yellow);
    background-color: var(--current-background-color);
}

.blue-background {
    --current-background-color: var(--blue);
    background-color: var(--current-background-color);
}

.white-background {
    --current-background-color: var(--white);
    background-color: var(--current-background-color);
}

.very-light-gray-background {
    --current-background-color: var(--very-light-gray);
    background-color: var(--current-background-color);
}

.light-gray-background {
    --current-background-color: var(--light-gray);
    background-color: var(--current-background-color);
}

.black-background {
    --current-background-color: var(--black);
    background-color: var(--current-background-color);
}
