/* LAYER: behavior (THE TOP PRIORITY LAYER) */

/*
    This file - in combination with the imported css files - represents the
    very core of LectureDoc's css. It primarily defines css properties
    directly related to the core functionality of LectureDoc. I.e., how topics
    are displayed in the different modes. The CSS classes defined in
    this file are (often) used by LectureDoc's API. Hence, any changes here, may
    require code changes in other CSS and/or JavaScript files.

    Styling related to the content of slides is defined elsewhere.

    ____________________________________________________________________________
    _______           Any changes to this or a linked document,          _______
    _______                  will likely break LectureDoc!               _______
    ____________________________________________________________________________
*/

@import url("document-view.css");
@import url("slide-view.css");
@import url("light-table.css");
@import url("slide.css");

:root {
    /*  Specifies the width and height of slides in pixels. This has proven
    to be very helpful when adding pictures and drawings as it enables a
    common reference frame. Besides that, only the ratio is relevant.

    These value are always set by JavaScript when the document is
    loaded; either to the default values defined in JavaScript (as shown
    next) or to the values specified in the document.
    */
    --ld-slide-width: 1920px; /* cf. lectureDoc2.presentation.slide.width */
    --ld-slide-height: 1200px; /* cf. lectureDoc2.presentation.slide.height */
}

/**
 * Multiple SVG elements may reference common definitions (e.g., markers). In this case,
 * the definitions must be defined only once in the document; otherwise, the SVGs will not
 * render correctly, because of potentially duplicate IDs.
 * However, these definitions must not be visible and must not affect the layout of the page.
 */
.svg-global-defs,
.svg-global-style {
    /*  display: none;
        This property MUST NOT BE USED. If used, defs (e.g. markers) that are
        defined "here" and referenced by other elements by means of URLs will
        not be rendered. */
    /*  Though the SVG is effectively empty, we still have to make sure that it
        does not effect the layout of the page. */
    width: 0;
    height: 0;
    position: fixed;
    z-index: -2147483647;
}
