/* LAYER: behavior */

#ld-slides-pane {
    /* FIXME use ld-slides */
    --ld-rendering-mode: slides-pane; /*FIXME rename to slides-view */

    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;

    /*  In general, we don't want accidental interaction with the slides, such
        as selecting texts/elements when giving a presentation.

        However, in the Javascript code we reenable interaction with selected
        elements - such as links and buttons - to enable selected interactions. */
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    ld-slide {
        content-visibility: auto;

        position: absolute;
        /*  To show only one slide, we scale alle other slides to a size of 0.
            This makes them effectively invisible without removing them from the
            DOM.

            Compared to using the display property (i.e., none <-> block) this
            has the advantage that the scale property can be easily animated
            and enables various animations.

            Using "display: hidden" would be an alternative that would support
            numbering, but would make animations hard(er) (as of 2023). */
        scale: 0;
    }

    /* Presenter Notes */
    ld-presenter-note-marker[encrypted] {
        display: none;
    }
}

/*  ----------------------------------------------------------------------------

        Styling the slide number which is adjacent to the slide view.
*/

ld-slide-number {
    /* set by core: display: none <-> block */
    display: none;

    position: fixed;
    bottom: 0.25em;
    right: 0.5em;
    z-index: 1;

    font-size: 24px;

    /* The following ensures that the number is practically always visible
       independent of the background color and color theme. */
    color: black;
    text-shadow: 1px 1px 1px white;
}
