* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(darkGray, lightGray);
}

.dialog-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

dialog::backdrop {
    background-image: linear-gradient(lightRed, lightGray);
    filter: opacity(0.6) blur(15px);
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.7em;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    > * {
        width: 100%;
        flex-grow: 1;
    }
}

textarea#question {
    min-height: 2lh;
    height: 10lh;
    min-width: 20ch;
    width: 40ch;
    white-space: pre;
    overflow-wrap: normal;
}
