/*  ----------------------------------------------------------------------------

    Core styles for the help dialog
*/

#ld-help-dialog {
    /*  We want to have a very subtle fade-out effect. 
        
        The value 500ms is also used in the JavaScript code to toggle the 
        display property between none and block. This is necessary to make 
        the link in the help ineffective, when the help is not shown!
    */
    opacity: 0;
    transition: opacity 500ms;
}

#ld-help {
    overflow-y: scroll;
    overflow-x: scroll;
}


