* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    margin-left: auto;
    margin-right: auto;

    user-select: initial;

    &:hover {
        text-decoration: none;
    }
}

div {
    /* Foreground, Background */
    scrollbar-color: #999 #333;
}

h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}