/* Theming of LectureDoc controls. */

:root {
    /* Primarily for debugging purposes!*/
    background-color: black; 

    --ld-body-background-color: rgb(25, 25, 30);
}

html {
    /* The following is the definition used by the LectureDoc UI / 
            all UI content that is not found on the slides. */
    font-size: 14px;
    font-family: "Noto Sans Display", Helvetica, sans-serif;
    font-weight: 300;
}


body {
    background-color: var(--ld-body-background-color); 
}


@media print { /* At least Safari seems to honor this setting... */
    :root {
        background-color: white;
        --ld-body-background-color: white;
    }

    body {
        background-color: white;
    }
}

input.passwords {
    width: 100%;
    border: 1px solid var(--dhbw-light-gray);
    padding: 0.5em;
    box-shadow: var(--br-shadow);
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



/* -----------------------------------------------------------------------------
    Common styling of all dialogs.
*/

.ld-dialog {
    margin: auto;
    background-color: rgba(30, 30, 30, 0.95);
    box-shadow:
        2px 2px 3px black,
        -2px -2px 3px black,
        -2px 2px 3px black,
        2px -2px 3px black;
    border-radius: 10px;
    font-size: 14px;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        /* Currently, there is no simple way to animate (i.e., fade) the backdrop,
       Hence, we simply make it transparent. */
        /*background-color: transparent; */
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        transition: all 100ms;
    }
}

.ld-dialog footer,
.ld-dialog header,
.ld-dialog-footer,
.ld-dialog-header {
    width: 100%;
    max-width: 100%;
    height: 42px;
    padding: 10px;
    font-size: 14px;
    color: whitesmoke;
    background-color: rgb(27, 26, 26);

    display: flex;
}

.ld-dialog-header > div{
    padding-left: 0.25em;
    padding-right: 0.25em;
    flex-grow: 0;
}

.ld-dialog-header > span{
    flex-grow: 2;
}

.ld-dialog-close {
    width: 22px;
    text-align: center;
    border-radius: 0.2em;
}

.ld-dialog-close-button {
    width: 18px;
    height: 18px;

    background-color: transparent;
    background-image: url('icons/white-cross.svg');
    background-size: 18px;
 
    &:hover {
        background-image: url('icons/black-cross-on-white.svg');
        background-size: 18px;
    }
}

#ld-message-box {
    position: fixed;
    top: 48px;
    margin: auto;
    border: 0px;
    padding: 16px;
    font-size: 24px;
    color: black;
    background-color: rgb(193, 242, 69);
    box-shadow: 4px 4px 8px black;
    border-radius: 0.5em;
}


/*  ----------------------------------------------------------------------------

    Styling of the exercises passwords dialog.
*/

#ld-exercises-passwords-dialog {
    min-width: 400px;
    min-height: 200px;
    max-height: 90vh;

    &[open] { 
        display: flex; 
        flex-direction: column;
    }

    input.passwords {
        box-shadow: none;
    }

    #ld-exercises-passwords-content {
        margin: 0.5em;
        padding: 0;
        color: whitesmoke;
        overflow-y: scroll; 

        table {
            width: 100%;
            height: fit-content;
            box-shadow: none;
            margin: 0;

            td {
                margin: 1em;
                padding: 0.5em;
            }
        }

        .ld-unlock-global {
            background-image: url('icons/lock-global.svg');
            background-size: 15px 22px;
            width: 15px;
            height: 22px;
    
            &:hover {
                background-image: url('icons/unlock-global.svg');
                background-size: 15px 22px;
                width: 15px;
                height: 22px;
            }
        }
    }
}



/*  ----------------------------------------------------------------------------
    Styling the help dialog.
*/

#ld-help {
    min-width: 45vw;
    max-width: 75vw;
    max-height: 75vh;
    margin: 1em;

    overflow-y: scroll;
    overflow-x: scroll;

    color: whitesmoke;

    p {
        margin-top: 9px;
    }

    a:link,
    a:visited {
        color: rgb(255, 173, 96)
    }

    table {
        width: 100%;
        border: 1px solid gray;
        background-color: rgba(0, 0, 0, 0.5);
        border-spacing: 20px 10px;
        border-radius: 10px;
        box-shadow: none;

        td {
            vertical-align: top;

            p {
                font-size: smaller;
                filter: brightness(0.7);
            }
        }

        th {
            border-bottom: 1px solid gray;
            text-align: left;
        }

        tr{
            + tr:not(.ld-help-keys-category, :has(+ .ld-help-keys-category)) {
                border-bottom: 2px solid rgb(55, 55, 55);
            }

            &.ld-help-keys-category {
            font-weight: 900;
            text-align: center;
            background-color: rgba(125, 125, 125, 0.25);
            color: whitesmoke;
            border: none;
            }
        }

    }
}


/*  ----------------------------------------------------------------------------
    Styling the direct jump to target dialog.
*/

#ld-jump-target-dialog {
    padding: 10px;

    font-size: 18px;
    color: white;
}



/*  ----------------------------------------------------------------------------
    Styling the laser pointer.
*/

#ld-laser-pointer {
    width: 32px;
    height: 32px;

    position: fixed;
    /* top and left are set using JavaScript */
    z-index: 1000; 
    transform: translate(-50%, -50%);
    border-radius: 50%;

    scale: 0; /* changed by JavaScript */
    transition: scale 300ms;

    pointer-events: none;
    background-color: rgba(0, 255, 234, 0.75);
    mix-blend-mode: difference;
}



/*  ----------------------------------------------------------------------------
    Styling the table of contents dialog.
*/

#ld-table-of-contents-dialog {

    &[open] { 
        display: flex; 
        flex-direction: column;
    }

    ol {
        padding: 0 0.5em 0 0.5em;
        margin: 0;
        overflow-y: scroll ;
        
        list-style-position: inside;
        background-color: white;    
        border-radius: 10px;   
    }
}
