/*  ----------------------------------------------------------------------------

    Common definitions to achieve a consistent layout that is easy to adapt.

    ------------------------------------------------------------------------- */


:root {

    --author: "Prof. Dr. Michael Eichberg";

    --slide-background-color: rgb(255, 255, 255);
    --slide-border-radius: 24px;

    /*
    We are using absolute sizes for the padding to enable footers and 
    headers that do not depend on the current font size of a slide (e. g.,
    if the size of the font for a single slide is decreased, the footer 
    should not be affected to retain a consisten look and feel).
    */
    --slide-tb-padding: 20px;
    /* top and bottom padding */
    --slide-lr-padding: 36px;
    /* left and right padding */
    --slide-padding: var(--slide-tb-padding) var(--slide-lr-padding) var(--slide-tb-padding) var(--slide-lr-padding);
    /*  48px to have roughly 16 lines of text on a 1200px height slide. */
    --slide-font-size: 48px;
    --slide-footer-height: 48px;
    --slide-footer-font-size: 36px;
    --slide-font-family: "Helvetica", sans-serif;
    --slide-serif-font-family: "Times New Roman", Times, serif;
    --slide-font-weight: 300;
    --slide-line-height: 1.5;
    --supplemental-font-size: 18px;
    /* Reference size w.r.t. the continuous view. */
    --extracted-exercises-font-size: 18px;
    --extracted-exercises-line-height: 1.33;

    /* Coporate design related colors and images: */
    --dhbw-logo: url(dhbw_logo.png);
    --dhbw-text: url(dhbw_text.png);
    --dhbw-symbol: url(dhbw_symbol.png);
    --dhbw-symbol-sharp: url(dhbw_symbol-sharp.png);
    --dhbw-dark-red: rgb(140, 0, 17);    /* red used by the DHBW Logo */
    --dhbw-red: rgb(226, 0, 26);    /* red used by the DHBW Logo */
    --dhbw-light-red: rgb(255, 28, 54);
    --dhbw-dark-gray: rgb(51, 65, 73);
    /* gray used by the text in the DHBW Logo */
    --dhbw-gray: rgb(91, 105, 113);
    /* gray used by the text in the DHBW Logo */
    --dhbw-light-gray: rgb(222, 226, 228);
    /* as found in some brochures */

    /* Colors that fit nicely to the colors of the corporate design: */
    --the-light-blue: rgb(165, 172, 255);
    --the-blue: rgb(45, 62, 255);
    --the-dark-blue: rgb(32, 42, 151);
    --the-yellow: #ff1;
    --the-orange: rgb(255, 128, 0);
    --the-green: rgb(0, 88, 0);

    /* Other colors - which should only be used if we can't use the corporate
       colors, or if the slide does not contain any CI related colors. */
    --dark-red: rgb(131, 0, 0);
    --light-green: rgb(0, 88, 0, 0.1);
    --light-red: rgb(131, 0, 0, 0.1);

    --organic-red:
        radial-gradient(circle at 45% 130%,
            rgba(255, 255, 255, 0) 22%,
            rgba(255, 0, 0, 1) 53%,
            rgba(255, 0, 0, 0) 63%),
        radial-gradient(circle at bottom right,
            rgba(0, 0, 0, 0) 32%,
            rgba(199, 20, 20, 1) 42%,
            rgba(255, 8, 0, 1) 52%,
            rgba(255, 255, 255, 0) 70%),
        radial-gradient(circle at -20% -90%,
            rgba(0, 0, 0, 0) 32%,
            rgba(199, 20, 20, 1) 42%,
            rgba(255, 8, 0, 1) 52%,
            rgba(255, 255, 255, 0) 70%),
        linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(170, 21, 20, 1) 35%,
            rgba(115, 0, 0, 1) 100%);

    /* Shadows */
    --br-shadow: 4px 4px 8px var(--dhbw-gray);
    /* br = bottom - right*/
    --trbl-shadow: 4px -4px 18px 0px var(--dhbw-light-gray),
        -4px 4px 18px 0px var(--dhbw-light-gray),
        4px 4px 18px 0px var(--dhbw-light-gray),
        -4px -4px 18px 0px var(--dhbw-light-gray);
    --trbl-shadow-dark: 4px -4px 18px 0px var(--dhbw-gray),
        -4px 4px 18px 0px var(--dhbw-gray),
        4px 4px 18px 0px var(--dhbw-gray),
        -4px -4px 18px 0px var(--dhbw-gray);


    --minimal-black-shadow: 
        1px 2px 2px rgba(0,0,0,0.7), 
        -1px 0px 2px rgba(0,0,0,0.7);

    --full-black-shadow: 
        2px 3px 4px 2px rgba(0,0,0,0.7), 
        -1px 0px 4px 1px rgba(0,0,0,0.7);


    --separator-border: 5px solid var(--dhbw-dark-gray);
}