/*
Collects definitions of colors and the like to achieve a consistent layout.
*/


:root {

    --author: "Prof. Dr. Michael Eichberg";

    /* Coporate design related colors and images: */
    --ld-dhbw-red: rgb(226, 0, 26);/* red used by the DHBW Logo */    
    --ld-dhbw-gray:  rgb(91,105,113);/* gray used by the text in the DHBW Logo */
    --ld-dhbw-logo: url(dhbw_logo.png);


    /* Colors that fit nicely to the colors of the corporate design: */
    --slide-background-color: rgb(255, 255, 255);
    --ld-the-blue: rgb(45, 62, 255);

    --ld-the-green: rgb(0, 88, 0);
    --ld-the-light-green: rgb(0, 88, 0, 0.1);
    --ld-red: rgb(131, 0, 0);
    --ld-red-background: rgb(131, 0, 0, 0.1);


    --standard-shadow: 4px 4px 8px black;
}


/*
    We associate the nth-child with a custom data attribute index that we can use in css calculations!

    See https://crinkles.dev/writing/a-nth-child-css-trick/
    See https://crinkles.dev/writing/use-the-child-element-count-in-css/ 
*/

:nth-child(1) {
    --index: 1;
}

:nth-child(2) {
    --index: 2;
}

:nth-child(3) {
    --index: 3;
}

:nth-child(4) {
    --index: 4;
}

:nth-child(5) {
    --index: 5;
}

:nth-child(6) {
    --index: 6;
}

:nth-child(7) {
    --index: 7;
}

:nth-child(8) {
    --index: 8;
}

:nth-child(9) {
    --index: 9;
}

:nth-child(10) {
    --index: 10;
}