/*  ----------------------------------------------------------------------------

    The very fundamental styling definitions.
    
    ------------------------------------------------------------------------  */

/* Don't style the root element; this can affet lecturedoc's own styling.
:root, html { ... } 
*/

.ld-slide-context {
    font: var(--slide-font-size) var(--slide-font-family);
    line-height: var(--slide-line-height);
    font-weight: var(--slide-font-weight);
}

.ld-slide {
    background-color: var(--slide-background-color);
    padding: var(--slide-padding);
    border-radius: var(--slide-border-radius);
}

/* Used for supplemental information that is rendered outside of a slide; i. e.,
   in the continuous view. */
.supplemental {
    font-size: var(--supplemental-font-size);
    line-height: var(--slide-line-height);
}

:is(#ld-main-pane, #ld-light-table-slides) .supplemental {
    font-size: calc(var(--supplemental-font-size) * 2.5);
}

.ld-extracted-exercise {
    font-size: var(--extracted-exercises-font-size);
    line-height: var(--extracted-exercises-line-height);
}
