/*  ----------------------------------------------------------------------------

    The very fundamental styling definitions.
    
    ------------------------------------------------------------------------  */

:root {
    font: var(--slide-font-size) var(--slide-font-family);
    line-height: var(--slide-line-height);
    font-weight: var(--slide-font-weight);
}

.ld-slide {
    background-color: var(--slide-background-color);
    padding: var(--slide-padding);
    border-radius: var(--slide-border-radius);
}