

/*
    Generic styling for per-slide footer elements.
*/
.footer-left {
    position: absolute;
    bottom: 36px;
}

.footer-right {
    position: absolute;
    bottom: 36px;
    right: 36px;
}


/* 
    Styling related to __the__ title slide
*/

div.ld-slide:has(h1)::before {
    content: var(--ld-dhbw-logo);
    position: absolute;
    right: 48px;
    bottom: 32px;
}


/*
    Styling of slides which act as section headers.

    <code>div class="ld-slide new-section"...</code>

    We add a counter to the first (and only) h2 element on the slide.
*/

div.ld-slide.new-section>h2 {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--ld-dhbw-gray);
    color: white;
    font-size: 2rem;
    font-variant: small-caps;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 4px 4px 8px black;
}

div.ld-slide.new-section>h2::after {
    content: var(--author);
    margin-top: 2.25rem;
    margin-left: 1rem;
    display: block;
    position: absolute;
    color: var(--ld-dhbw-gray);
    font-size: 0.75rem;
    font-variant: normal;
    font-weight: 200;
}

div.ld-slide.new-section::after {
    content: var(--ld-dhbw-logo);
    position: absolute;
    top: 0px;
    right: 0px;
    scale: 0.50;
    translate: 60px -25px;
}

#ld-main-pane,
#ld-continuous-view-pane,
#ld-light-table-dialog {
    counter-reset: ld-section 0;
}

.ld-slide.new-section {
    counter-increment: ld-section;
}

.ld-slide.new-section h2::before {
    content: counter(ld-section)".";
    padding-right: 0.5em;
}



/*
    Styling of slides which act as sub section headers.

    <code>div class="ld-slide new-subsection"...</code>

    TODO Add support for numbering subsection header. Currently, adding numbering to subsection headers does not work in the light table and continuous view modes. 
*/

div.ld-slide.new-subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration-color: var(--ld-dhbw-gray);
}

div.ld-slide.new-subsection::after {
    content: var(--ld-dhbw-logo);
    position: absolute;
    top: 0px;
    right: 0px;
    scale: 0.50;
    translate: 60px -25px;
}

div.ld-slide.new-subsection > h2 {
    width: 90%;
    padding: 2rem 0.5rem 2rem 0.5rem;
    border: 1px solid var(--ld-dhbw-gray);
    border-radius: 0.5em;
    margin: 0;
    background-color: whitesmoke;
    color: var(--ld-dhbw-gray);
    font-size: 1.666rem;
    text-align: center;
    box-shadow: 2px 2px gray;
}


/*
    Styling of slides which represent lecture-integrated exercise.
*/

.integrated-exercise {
    background-color: var(--ld-dhbw-gray);
    color: whitesmoke;
}

.integrated-exercise h2:first-child {
    margin: -0.75rem -0.75rem 0.5rem -0.75rem;
    padding: 0.5rem 0.75rem 0.25rem 0.75rem;
    background-color: whitesmoke;
    color: var(--ld-dhbw-red);
}

.integrated-exercise::before {
    content: var(--ld-dhbw-logo);
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    transform: translateX(30%) translateY(-35%) scale(0.4); 
}

.integrated-exercise .conditions {
    font-size: smaller;
}

.integrated-exercise .task {
    margin: 0.4em 0 0.4em 0;
    padding: 0.4em;
    border-radius: 0.4em;
    background-color: var(--ld-dhbw-red);
    color: white;
    font-size: smaller;
    box-shadow: none;
}

.integrated-exercise .excersise-solution {
    color: black;
}

/* 
    Styling, which changes the positioning of elements on a slide.
*/

.ld-slide.center-elements-on-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    "Styling" of Animations

    The following style can generally be composed with the previous styles which
    affect the layout of the slide. 

    Recall that LectureDoc's mechanism to switch slides is to scale a slide 
    to 0 and to scale the next slide to 1 (normally both happens instanteously). 
    Hence, it is often necessary to "reset" the scale level to make animations 
    work.

    Currently, we support three slide animations:
    transition-*
    - fade
    - scale
    - move-left
*/

@keyframes scale-to-zero {
    100% {
        scale: 0;
    }
}

#ld-main-pane .ld-current-slide.transition-move-left {
    animation: 3s slide-move-left-in ;
}

#ld-main-pane .ld-previous-slide:has(+.ld-slide.transition-move-left.ld-current-slide) {
    animation: 3s slide-move-left-out, 0s 3s scale-to-zero;
}


@keyframes slide-move-left-in {
    0.1% { /* it works beautifully with 0.1% and awfully with 0%...*/
        translate: 100%;
        opacity: 0;
    }

    70% {
        opacity: 100%;
    }

    100% {
        translate: 0%;
    }
}

@keyframes slide-move-left-out {
    0% {
        scale: 1; /* reset the scale level to make the slide visible (again) */
        translate: 0%;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        scale: 1;
        translate: -100%;
    }
}



#ld-main-pane .ld-current-slide.transition-scale {
    animation: 3s slide-scale-in;
}

#ld-main-pane .ld-previous-slide:has(+.ld-slide.transition-scale.ld-current-slide) {
    animation: 3s slide-scale-out;
}

@keyframes slide-scale-in {
    0.1% {
        opacity: 0;
        scale: 1.5;
    }

    100% {
        opacity: 100%;
        scale: 1;
    }
}

@keyframes slide-scale-out {
    0% {
        scale: 1; /* reset the scale level to make the slide visible (again) */
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        scale: 0.5;
    }
}



#ld-main-pane .ld-current-slide.transition-fade {
    animation: 2s slide-fade-in;
}

#ld-main-pane .ld-previous-slide:has(+.ld-slide.transition-fade.ld-current-slide) {
    animation: 2s slide-fade-out, 0s 2s scale-to-zero;
}

@keyframes slide-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes slide-fade-out {
    0% {
        opacity: 1;
        scale: 1; /* reset the scale level to make a fading effect possible */
    }

    100% {
        opacity: 0;
        scale: 1;
    }
}