/*  ----------------------------------------------------------------------------
    Styling of elements that behave differently when the viewing mode changes.
    E.g., supplemental information is placed at different locations in the DOM
    when the view changes between the continuous view and the slide/light table 
    view. Also stack-based layouts are rendered on-top of each other in the 
    slides view and below each other in the continuous view.

    Changing the styling of these elements may have significant impact on 
    the respective view and may render it inoperable. But, it will not affect
    LectureDoc as such. 
    ------------------------------------------------------------------------  */


/*  0. Rendering of the slide numbers in the continuous view.

    (Slide numbers are handled differently in the slide view.)
*/
.ld-continuous-view-slide-number {
    bottom: 0px;
    right: 5px;
    font-size: 18px;
    /* We want to ensure that the number is always readable: */
    color: rgb(25, 25, 25);
    text-shadow: 1px 1px 1px white;
}

