/*
    Generic styling for per-slide footer elements.
*/
.footer-left,
.footer-right,
.block-footer {
    font-size: var(--slide-footer-font-size);
}

.footer-left {
    position: absolute;
    bottom: 36px;
}

.footer-right {
    position: absolute;
    bottom: 36px;
    right: 36px;
}

/*
Converts a container into a generic footer element. Intended to be combined 
with other classes such as text-align-center, text-align-left, 
dhbw-background-color,
*/
.block-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--ld-slide-width);
    height: var(--slide-footer-height);
    padding-left: var(--slide-lr-padding);
    padding-right: var(--slide-lr-padding);

    &::after {
        position: absolute;
        bottom: -45px;
        right: -35px;
        content: var(--dhbw-symbol);
        scale: 0.5
    }
}

/* 
    Adds the logo to the title-slide.
*/
div.ld-slide:has(h1)::before {
    content: var(--dhbw-logo);
    position: absolute;
    right: 48px;
    bottom: 32px;
}


/* 
    Styling related to a normal title slide.
*/
div.ld-slide.no-title h2:first-child {
    display: none;
}


/*
    Styling of slides which act as section headers.

    <code>div class="ld-slide new-section"...</code>

    We add a counter to the first (and only) h2 element on the slide.
*/

div.ld-slide.new-section>h2 {
    margin-top: 350px;
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 2em;
    background-color: var(--dhbw-gray);
    color: white;
    font-variant: small-caps;
    text-align: center;
    border-radius: 24px;
    box-shadow: 4px 4px 8px black;
}

div.ld-slide.new-section>h2::after {
    content: var(--author);
    margin-top: calc(150px + 1em);
    margin-left: 0em;
    display: block;
    position: absolute;
    color: var(--dhbw-gray);
    font-size: 24px;
    font-variant: normal;
    font-weight: 200;
}

div.ld-slide.new-section::after {
    content: var(--dhbw-logo);
    position: absolute;
    top: 0px;
    right: 0px;
    scale: 0.50;
    translate: 60px -25px;
}

#ld-main-pane,
#ld-continuous-view-pane,
#ld-light-table-dialog {
    counter-reset: ld-section 0;
}

.ld-slide.new-section {
    counter-increment: ld-section;
}

/*
    Counters accross multiple slides cannot be used in the slide mode because,
    we have to use "display: none" to hide slides due to an issue in Safari
    and this makes it impossible to use counters.
*/
:is(#ld-continuous-view-pane, #ld-light-table-dialog) .ld-slide.new-section h2::before {
    content: counter(ld-section)".";
    padding-right: 0.25em;
}



/*
    Styling of slides which act as sub section headers.

    <code>div class="ld-slide new-subsection"...</code>
*/

div.ld-slide.new-subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration-color: var(--dhbw-gray);
}

div.ld-slide.new-subsection::after {
    content: var(--dhbw-logo);
    position: absolute;
    top: 0px;
    right: 0px;
    scale: 0.50;
    translate: 60px -25px;
}

div.ld-slide.new-subsection>h2 {
    width: 90%;
    padding: var(--slide-padding);
    border: 1px solid var(--dhbw-gray);
    border-radius: calc(var(--slide-border-radius) * 0.5);
    margin: 0;
    background-color: whitesmoke;
    color: var(--dhbw-gray);
    font-size: 1.666em;
    text-align: center;
    box-shadow: var(--br-shadow);
}


/*
    Styling of slides which represent lecture-integrated exercise.
*/

.integrated-exercise {
    background: linear-gradient(180deg, whitesmoke, white 100%);
    color: var(--dhbw-dark-gray);
}

.integrated-exercise h2:first-child {
    /*margin: -0.5rem -0.75rem 0.5rem -0.75rem;*/
    margin: calc(var(--slide-tb-padding) * -1) calc(var(--slide-lr-padding) * -1) var(--slide-tb-padding) calc(var(--slide-lr-padding) * -1);
    padding: var(--slide-padding);
    background: linear-gradient(270deg, whitesmoke, white 100%);
    color: var(--dhbw-red);
}

.integrated-exercise::before {
    content: var(--dhbw-logo);
    display: block;
    position: absolute;
    top: 28px;
    right: var(--slide-lr-padding);
    transform: translateX(30%) translateY(-35%) scale(0.4);
}

.integrated-exercise .rubric {
    color: var(--dhbw-gray);
    text-shadow: 1px 1px 2px white;
}

/* The solution will only be shown in the respective pane. */
:is(#ld-light-table-dialog, #ld-main-pane) .ld-exercise-solution {
    display: none;
}

#ld-continuous-view-pane .ld-exercise-solution[data-encrypted] {
    display: none;
}

/* Commented-out - May 29th 2024
.ld-exercise {
    overflow: hidden;
}
*/

.ld-extracted-exercise {
    background-color: white;
    padding:
        calc(var(--ld-continuous-view-zoom-level) * var(--slide-tb-padding)) calc(var(--ld-continuous-view-zoom-level) * var(--slide-lr-padding)) calc(var(--ld-continuous-view-zoom-level) * var(--slide-tb-padding)) calc(var(--ld-continuous-view-zoom-level) * var(--slide-lr-padding));
    border-radius: calc(var(--slide-border-radius) * var(--ld-continuous-view-zoom-level)) calc(var(--slide-border-radius) * var(--ld-continuous-view-zoom-level));
    margin-bottom: 2px;
}

@media print {
    .ld-extracted-exercise {
        page-break-before: always;
    }

    .ld-extracted-exercise .ld-exercise-solution-wrapper {
        display: none;
    }
}

.ld-extracted-exercise input {
    width: 100%;
    font-size: var(--extracted-exercises-font-size);
    border: 1px solid var(--dhbw-light-gray);
    padding: 0.5em;
    box-shadow: var(--br-shadow);
    border-radius: 0.5em;
}


/*
    "Styling" of Animations

    The following style can generally be composed with the previous styles which
    affect the layout of the slide. 

    Recall that LectureDoc's mechanism to switch slides is to scale a slide 
    to 0 and to scale the next slide to 1 (normally both happens instanteously). 
    Hence, it is often necessary to "reset" the scale level to make animations 
    work.

    Currently, we support three slide animations:
    transition-*
    - fade
    - scale
    - move-left
*/

@keyframes scale-to-zero {
    100% {
        scale: 0;
    }
}

#ld-main-pane .ld-current-slide.transition-move-left {
    animation: 3s slide-move-left-in;
}

#ld-main-pane .ld-previous-slide:has(+.ld-slide.transition-move-left.ld-current-slide) {
    animation: 3s slide-move-left-out, 0s 3s scale-to-zero;
}


@keyframes slide-move-left-in {
    0.1% {
        /* it works beautifully with 0.1% and awfully with 0%...*/
        translate: 100%;
        opacity: 0;
    }

    70% {
        opacity: 100%;
    }

    100% {
        translate: 0%;
    }
}

@keyframes slide-move-left-out {
    0% {
        scale: 1;
        /* reset the scale level to make the slide visible (again) */
        translate: 0%;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        scale: 1;
        translate: -100%;
    }
}

#ld-main-pane .ld-current-slide.transition-scale {
    animation: 3s slide-scale-in;
}

#ld-main-pane .ld-previous-slide:has(+.ld-slide.transition-scale.ld-current-slide) {
    animation: 3s slide-scale-out;
}

@keyframes slide-scale-in {
    0.1% {
        opacity: 0;
        scale: 1.5;
    }

    100% {
        opacity: 100%;
        scale: 1;
    }
}

@keyframes slide-scale-out {
    0% {
        scale: 1;
        /* reset the scale level to make the slide visible (again) */
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        scale: 0.5;
    }
}



#ld-main-pane .ld-current-slide.transition-fade {
    animation: 2s slide-fade-in;
}

#ld-main-pane .ld-previous-slide:has(+.ld-slide.transition-fade.ld-current-slide) {
    animation: 2s slide-fade-out, 0s 2s scale-to-zero;
}

@keyframes slide-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes slide-fade-out {
    0% {
        opacity: 1;
        scale: 1;
        /* reset the scale level to make a fading effect possible */
    }

    100% {
        opacity: 0;
        scale: 1;
    }
}

#ld-main-pane .ld-current-slide.transition-move-to-top {
    animation: 3s slide-move-old-to-top;
}

#ld-main-pane .ld-previous-slide:has(+.ld-slide.transition-move-to-top.ld-current-slide) {
    animation: 3s slide-move-bottom-to-center, 0s 3s scale-to-zero;
}

@keyframes slide-move-old-to-top {
    0.1% {
        /* it works beautifully with 0.1% and awfully with 0%...*/
        translate: 0 100%;
        opacity: 0;
    }

    70% {
        opacity: 100%;
    }

    100% {
        translate: 0 0%;
    }
}

@keyframes slide-move-bottom-to-center {
    0% {
        scale: 1;
        /* reset the scale level to make the slide visible (again) */
        translate: 0% 0;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        scale: 1;
        translate: 0 -100%;
    }
}


/*

    Styling of Slides with content that is not covered.

*/

.ld-slide.not-covered-topics {
    background-color: black;
    color: var(--dhbw-gray);
    position: relative;
}

.ld-slide.not-covered-topics::before {
    position: absolute;
    content: var(--dhbw-symbol);
    scale: 0.75;
    top: 0;
    right: 25px;
}

/*

    Styling of Cheat Sheets

*/

.cheat-sheet-8-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    gap: 6px 6px;
    font-size: 16px;
    background-color: black;
    padding: 3px;
    border-radius: 6px;

    &.ld-slide::before {
        /* to clear the default logo */
        content: " ";
    }

    div.cheat-sheet-block,
    h1 {
        width: calc(var(--ld-slide-width) / 8 - 6px);
        padding: 4px;
        border-radius: 4px;
        overflow: hidden;
        background-color: white;
    
        &.title {
            margin: 0;
            padding: 4px;
            /* We have a different font-size and hence have to update the width! */
            width: calc(var(--ld-slide-width) / 8 - 6px);
            background-color: var(--dhbw-light-gray);
            font-size: 2em;
            color: var(--dhbw-red);
            text-shadow: 1px 1px 2px var(--dhbw-gray);
        }
    }

    div.cheat-sheet-block>.rubric:first-child {
        width: calc(100% + 10px);
        margin-bottom: 0;
        position: relative;
        top: -5px;
        left: -5px;
        color: whitesmoke;
        border-radius: 8px 8px 0 0;
        font-size: larger;
        padding: 0.3em 0em 0.3em 0.25em;
        background-color: var(--dhbw-red);
    }

    div.cheat-sheet-block>.rubric:not(:first-child) {
        background-color: var(--dhbw-gray);
        position: relative;
        top: -5px;
        left: -5px;
        color: whitesmoke;
        width: calc(100% + 10px);
        padding: 0.15em 0em 0.15em 0.25em;
        margin-bottom: 0;
    }

    p.rubric+p {
        margin-top: 0;
    }
}