/*
    The CSS classes defined in this file generally style only one property and 
    are intended to enable fine-grained control of the design of a slide when needed. 
    
    Hence, it is best to minimize the usage of these styles to avoid 
    interference with a specific theme. That is, the stylings defined in this
    file are intended to be indepent of a specific theme.
*/

.xxl {
    font-size: 3rem; /* absolute w.r.t. the "global" font-size */
}

.huge {
    font-size: 1.5rem; /* absolute w.r.t. the "global" font-size */
}

.large {
    font-size: 1.15rem; /* absolute w.r.t. the "global" font-size */
}

.small {
    font-size: 0.85rem; /* absolute w.r.t. the "global" font-size */
}

.footnotesize {
    font-size: 0.815rem; /* absolute w.r.t. the "global" font-size */
}

.scriptsize {
    font-size: 0.785rem; /* absolute w.r.t. the "global" font-size */
}

.tiny {
    font-size: 0.7rem; /* absolute w.r.t. the "global" font-size */
}

.larger {
    font-size: 1.1em; /* relative to the "current" font size */
}

.smaller {
    font-size: 0.9em; /* relative to the "current" font size */
}


.monospaced {
    font-family: monospace;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 250;
}

.thin {
    font-weight: 200;
}


img.picture {
    border-radius: 25px;
    box-shadow: 4px 4px 8px black;
}


.not-important {
    color: rgb(129, 129, 129)
}


.obsolete {
    text-decoration: line-through;
}


.margin-none {
    margin: 0;
}

.margin-1em {
    margin: 1em;
}

.margin-0_5em {
    margin: 0.5em;
}

.padding-none {
    padding: 0;
}

.padding-1em {
    padding: 1em;
}

.padding-0_5em {
    padding: 0.5em;
}


.red {
    color: var(--ld-red);
}

.dhbw-red {
    color: var(--ld-dhbw-red);
}


.blue {
    color: rgb(0, 0, 155);
}

.green {
    color: rgb(0, 88, 0);
}

.black {
    color: black;
}

.dhbw-gray {
    color: var(--ld-dhbw-gray);
}


.red-background {
    background-color: var(--ld-dhbw-red);
}

.green-background {
    background-color: var(--ld-the-green);
}

.light-green-background {
    background-color: var(--ld-the-light-green);
}

.blue-background {
    background-color: var(--ld-the-blue);
}


.line-above {
    border-top: 2px solid rgb(24, 25, 25);
}

.line-below {
    border-bottom: 2px solid rgb(24, 25, 25);
}


.shadow {
    box-shadow: 4px 4px 8px rgb(33, 33, 33);
}

ul {
    list-style-type: "▫️";
}

.inline-block {
    display: inline-block;
}





/*DEPRECATED: use center-text-in-div */ .center {
    text-align: center;
    width: 100%;
}


/*DEPRECATED use margin-none */ .no-margin {
    margin: 0;
}

/*DEPRECATED use padding-none */ 
.no-padding {
    padding: 0;
}