ul {
    list-style-type: "▫️";
}

strong {
    font-weight: 700;
}

/*
    The CSS classes defined in the following generally style only one property 
    and are intended to enable fine-grained control of the design of a slide 
    when needed. 
    
    Hence, it is best to minimize the usage of these styles to avoid 
    interference with a specific theme. That is, the stylings defined in this
    file are intended to be indepent of a specific theme.
*/

/* 
    Semantic based CSS classes.
*/

.minor {
    color: rgb(129, 129, 129)
}

.obsolete {
    text-decoration: line-through;
}

/* 
    Visual modifications.
*/

img.picture {
    border-radius: var(--slide-border-radius);
    box-shadow: var(--br-shadow);
}

.box-shadow {
    box-shadow: var(--br-shadow);
}

.no-box-shadow,
.box-shadow-none {
    box-shadow: none
}

.rounded-corners {
    border-radius: var(--slide-border-radius);
}


/* 
    Styling based CSS classes.
*/

div.text-align-center {
    text-align: center;
    width: 100%;
}

div.text-align-right {
    text-align: right;
    width: 100%;
}

div.text-align-left {
    text-align: left;
    width: 100%;
}

/*
    THE FOLLOWING SIZES ARE EFFECTIVELY ABSOLUTE SIZES AND ARE NOT 
    RECOMMENDED! USE THE RELATIVE SIZES (larger, smaller,...) INSTEAD!

    THESE SIZES ARE OBSOLETE AND WILL BE REMOVED IN THE FUTURE!
*/
.xxl {
    font-size: calc(var(--slide-font-size) * 3); 
}

.huge {
    font-size: calc(var(--slide-font-size) * 1.5); 
}

.large {
    font-size: calc(var(--slide-font-size) * 1,15); 
}

.small {
    font-size: calc(var(--slide-font-size) *  0.85)
}

.footnotesize {
    font-size: calc(var(--slide-font-size) * 0.815);
}

.scriptsize {
    font-size: calc(var(--slide-font-size) * 0.785);
}

.tiny {
    font-size: calc(var(--slide-font-size) * 0.7);
}

.x-tiny {
    font-size: calc(var(--slide-font-size) * 0.6);
}

.xx-tiny {
    font-size: calc(var(--slide-font-size) *  0.5);
}

/*
    Relative sizes.
*/

.far-far-larger {
    font-size: 1.25em; /* relative to the "current" font size */
}

.far-larger {
    font-size: 1.25em; /* relative to the "current" font size */
}

.larger {
    font-size: 1.1em; /* relative to the "current" font size */
}

.just-a-bit-smaller {
    font-size: 0.975em; /* relative to the "current" font size */
}

.a-bit-smaller {
    font-size: 0.95em; /* relative to the "current" font size */
}

.smaller {
    font-size: 0.9em; /* relative to the "current" font size */
}

.slightly-more-smaller {
    font-size: 0.825em; /* relative to the "current" font size */
}

.far-smaller {
    font-size: 0.75em; /* relative to the "current" font size */
}

.far-far-smaller {
    font-size: 0.675em; /* relative to the "current" font size */
}

.smallest {
    font-size: 0.6em; /* relative to the "current" font size */
}

.monospaced {
    font-family: monospace;
}

.serif {
    font-family: var(--slide-serif-font-family);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 250;
}

.thin {
    font-weight: 200;
}

/* 
    Controlling the spacing.
*/

.no-margin,
.margin-none {
    margin: 0;
}

.margin-0-5em {
    margin: 0.5em;
}

.margin-1em {
    margin: 1em;
}

.margin-top-1em {
    margin-top: 1em;
}

.margin-top-2em {
    margin-top: 2em;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

.margin-bottom-2em {
    margin-bottom: 2em;
}

.margin-right-1em {
    margin-right: 1em;
}

.margin-left-1em {
    margin-left: 1em;
}

.margin-left-2em {
    margin-left: 2em;
}


.no-padding,
.padding-none {
    padding: 0;
}

.padding-0-5em {
    padding: 0.5em;
}

.padding-1em {
    padding: 1em;
}

.padding-top-1em {
    padding-top: 1em;
}

.padding-top-2em {
    padding-top: 2em;
}

.padding-bottom-1em {
    padding-bottom: 1em;
}

.padding-bottom-2em {
    padding-bottom: 2em;
}

.padding-right-1em {
    padding-right: 1em;
}

.padding-right-2em {
    padding-right: 2em;
}

.padding-left-1em {
    padding-left: 1em;
}

.padding-left-2em {
    padding-left: 2em;
}

.line-height-1{
    line-height: 1em;
}

.line-height-1-1{
    line-height: 1.1em;
}

.line-height-1-25{
    line-height: 1.25em;
}



/* 
    Controlling the colors.
*/

.white {
    color: white;
}

.dhbw-red {
    color: var(--dhbw-red);
}

.dhbw-gray {
    color: var(--dhbw-gray);
}

.dhbw-light-gray {
    color: var(--dhbw-light-gray);
}

.the-blue {
    color: var(--the-blue);
}

.the-green {
    color: var(--the-green)
}

.the-orange {
    color: var(--the-orange);
}

.shiny-green {
    color: green;
}

.shiny-red {
    color: red;
}

.black {
    color: black;
}

.dark-red {
    color: var(--dark-red);
}



.dhbw-red-background {
    background-color: var(--dhbw-red);
}

.dhbw-gray-background {
    background-color: var(--dhbw-gray);
}

.dhbw-light-gray-background {
    background-color: var(--dhbw-light-gray);
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-90 {
    opacity: 0.9;
}

.the-green-background {
    background-color: var(--the-green);
}

.the-blue-background {
    background-color: var(--the-blue);
}

.the-yellow-background {
    background-color: var(--the-yellow);
}

.light-green-background {
    background-color: var(--light-green);
}

.black-background {
    background-color: black;
}

.white-background {
    background-color: white;
}


.line-above {
    border-top: 2px solid rgb(24, 25, 25);
}

.line-below {
    border-bottom: 2px solid rgb(24, 25, 25);
}

.no-border,
.border-none {
    border: none;
    border-radius: 0;
}


/**
 * Clearfix hack to ensure that the parent element of a floated element
 * is not "collapsed".
 */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-70 {
    width: 75%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}   

/**
 * Used in particular in combination with containers when multiple classes should be attached to an "inline" element.
 */
div.inline-block {
    display: inline-block;
}