html,
.default {
    background-color: white;
    color: black;

    a {
        &:link,
        &:visited {
            color: var(--dhbw-dark-red);
            transition: all 0.5s;
        }

        &:hover {
            color: var(--dhbw-red);
            text-decoration: none;
            transition: all 0.5s;
        }
    }
}

@media screen {
    .organic-red {

        background: var(--organic-red);

        color: white;

        a {
            &:link,
            &:visited {
                color: white;
            }
            transition: all 0.5s;

            &:hover {
                color: var(--dhbw-dark-red);
                mix-blend-mode: difference;
                transition: all 1.5s;
            }
        }

        .supplemental {
            background-color: black;
            box-shadow: var(--minimal-black-shadow);

            &:hover {
                background: var(--organic-red);
                box-shadow: var(--full-black-shadow);
            }
        }

        h2 {
            color: var(--dhbw-dark-red);
            background: transparent;
            mix-blend-mode: difference;
        }
    }
}

.blue-theme {
    background-color: var(--the-blue);
    color: white;

    .eng {
        color: var(--the-orange);
    }

    a {
        &:link,
        &:visited {
            color: white;
            transition: all 0.5s;
        }

        &:hover {
            color: var(--the-orange);
            text-decoration: none;
            transition: all 0.5s;
        }
    }

    &.admonition p.admonition-title {
        background-color: var(--the-dark-blue);
        color: white;
    }
}

.admonition {
    &.question {
        background-color: var(--the-dark-blue);
        color: white;

        p.admonition-title {
            background-color: var(--the-light-blue);
            color: black;
        }
    }
}