/* 
    This style collects all styles related to ordered and unordered lists.
*/

ul {
    list-style-type: "▫️";
}

/*
 * Styling of lists where the content is shown in a table-like manner. The
 * first column is the counter, the second column is the content. The styling
 * is inspired by the DHBW corporate design. The counter uses a red background
 * and white text color. The content uses a light gray background and black
 * text.
 */
ol.arabic.dhbw {
    --item-counter-width: 3ch;
    --item-counter-offset: calc(var(--item-counter-width) + 0.5ch);

    list-style-type: none;

    padding-left: var(--item-counter-offset);

    counter-reset: item;
    
    >li {
        position: relative;
        padding: 0.25em;
        margin: 0.25em;

        background-color: var(--dhbw-light-gray);
        
        counter-increment: item;

        &::before {
            content: counter(item);

            box-sizing: border-box;
            display: inline-block;
            padding: 0.25em;
            position: absolute;
            top: 0;
            left: calc(var(--item-counter-offset) * -1);
            width: var(--item-counter-width);
            height: 100%;


            text-align: center;
            font-family: menlo, monospace;
            font-weight: 600;
            background-color: var(--dhbw-red);
            border-radius: 0.2em 0 0 0.2em;
            color: white;
        }

        &:nth-child(-n+9)::before {
            content: "0" counter(item);
        }

        &:hover {
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);

            &::before {
                background-color: var(--dhbw-dark-red);
                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
            }
        }
    }
}


ul.columns {
    width: 100%;
    padding: 0;
    
    list-style-type: none;

    display: flex;
    flex-direction: row;
    gap: 0.25em;
    justify-content: space-between;

    >li {
        flex-grow: 1;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;

        >p {
            margin: 0;
            padding: 0.25em;
            background-color: var(--dhbw-light-gray);
            color: black;
        }
        > p:first-child { /* the "Header" */
            margin-bottom: 0.25em;
            background-color: var(--dhbw-red);
            color: white;
            font-family: menlo, monospace;
            font-weight: 600;
            border-radius: 0.2em 0.2em 0 0;
        }
        > p:last-child {
            border-radius: 0 0 0.2em 0.2em;
            flex-grow: 1;
        }
    }
}


/*
    This style is complementary to the previous one and adds a pop-out effect 
    on hover.
*/
:is(ol,ul).pop-out-on-hover{
    perspective: 500px;
    transform-style: preserve-3d;
    overflow: visible;
    
    >li {
        transition: 0.5s;

        &::before {
            transition: 0.5s;
        }

        &:hover {
            transform: translateZ(15px);
            transition: 0.5s;

            &::before {
                transition: 0.5s;
            }
        }
    }
}




/*
    Styling of lists where each list item has multiple paragraphs, but all - except of the first one (rst wraps each block of text belonging to a list item in a div/p element) - should be rendered in a smaller font and in gray.
*/
/* TODO remove list-with-explanations*/
:is(.list-with-explanations,.with-explanations)>li>*:not(:first-child) {
    font-size: smaller;
    color: var(--dhbw-dark-gray);
    mix-blend-mode: hard-light;
}


ul {
    list-style-position: outside;
    padding-left: 0.85em;
}

ol.loweralpha {
    list-style-position: outside;
    padding-left: 0em;
    margin-left: 1.5em;
}

ol.upperroman {
    list-style-position: outside;
    padding-left: 0em;
    margin-left: 1.5em;
}

ol.arabic {
    list-style-position: outside;
    padding-left: 1.5em;
}

ol.arabic.long-list {
    list-style-position: outside;
    padding-left: 2em;
}

li {
    padding-left: 0.25em;
}

ul.negative-list > li,
ul > li.negative-list {
    list-style-type: "❗️";
}

ul.positive-list > li,
ul > li.positive-list {
    list-style-type: "✓";
}

ul.attention-list > li,
ul > li.attention-list {
    list-style-type: "⚡️";
}



/*

Styling of impressive lists (whatever "impressive" means in this case).

*/
ol.impressive {
    list-style-position: outside;
    margin-left: 1em;
    padding-left: 0;


    li {

        &::marker {
            color: black;
        }

        color: black;
        background-color: white;
        margin-top: 1em;
        box-shadow: 4px 4px 8px black;
        border-radius: 0.33em;
        align-items: center;
        min-height: 4em;
        padding: 0.75em;
    }
}

ul.impressive {
    list-style-type: none;
    font-weight: bolder;
    margin-left: 0;
    padding-left: 0;
    display: grid;
    grid-auto-rows: 1fr;

    >li {
        text-align: center;
        background-color: var(--dhbw-light-gray);
        border-radius: 0.5em;
        margin-top: 0.5em;
        padding: 0.5em;
    }
}