/* LAYER: common */

:root {
    --default-font-family: "Noto Sans Display", Helvetica, Arial, sans-serif;
    --code-font-family: "Victor Mono", "Monospace", monospace;
    --pre-font-family: "Monospace", monospace;
    --text-font-family: "Noto Serif", "Times New Roman", serif;
    --large-text-font-family: "Noto Serif Display", "Times New Roman", serif;

    --code-background-color: #eeeeee;
}