/* LAYER: common */

:root {
    --default-font-family: "Noto Sans Display", Helvetica, Arial, sans-serif;
    --code-font-family: "Victor Mono", "Monospace", monospace;
    --pre-font-family: "Monospace", monospace;
    --text-font-family: "Noto Serif", "Times New Roman", serif;
    --math-font-family: "MathJax Main", "Noto Serif", "Times New Roman", serif;
    --large-text-font-family: "Noto Serif Display", "Times New Roman", serif;

    
    --current-background-color: black;
    background-color: var(--current-background-color);
    
    --blockquote-background-color: #f0f0f0;

    --ld-rendering-mode: none /* either "section" oder "slide" - defined to enable container-style queries based on custom properties */;

    --small-border-radius: 0.2em;
    --medium-border-radius: 0.4em; 

}