@layer normalize, common, theme, utilities, ui, behavior;

/* Defines no layer (only contains font definitions): */
@import url("../ext/fonts/ld-fonts.css");

@import url("./css/normalize.css") layer(normalize);

@import url("./css/colors.css") layer(common);
@import url("./css/defs.css") layer(common);
@import url("./css/common.css") layer(common);

@import url("./css/themes/ld.css") layer(theme);

@import url("./css/themes/utilities-slide.css") layer(utilities);
@import url("./css/themes/utilities.css") layer(utilities);

@import url("./css/ui/ui.css") layer(ui);

@import url("./css/core/behavior.css") layer(behavior);
