aside.admonition.tip {

    padding: 0;
    margin: 0;
    border-radius: 0.2em;
    background-color: white;

    /* The first two elements ("p"s) markup the generic title (e.g., "Tip")
       and the user chosen Title; we markup both in a section title. */

    >*:first-child::before {
        content: "💡";
        padding-right: 0.1em;
    }

    >*:first-child,
    >*:nth-child(2) {
        float: left;
        padding: 0.25em 0.4em;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;

        border-radius: 0.2em 0.2em 0 0;

        background-color: var(--dhbw-red);
        color: white;
    }

    /*
        Markup of the content of the admonition.
    */

    >*:nth-child(3) {
        margin-top:0;
    }

    >*:nth-child(n+3) {
        background-color: white;
        color: black;
        padding: 0.25em 0.5em;
    }

    >*:last-child {
        border-radius: 0 0 0.2em 0.2em;
    }
}


/*
    Select all supplementals the have one child and this child is an 
    admonition.
*/
#ld-main-pane .supplemental:not(:has(> * + *)):has( > aside.admonition):hover {
    box-shadow: initial;
    background-color: initial;
}


.admonition.hint {
    code {
        background-color: var(--dhbw-light-red);
    }
}