/* 
    Adds the DHBW logo to the title-slide (i.e., the only slide with an h1 element).

    If the slide has the class `animated-symbol`, only the text part of the logo
    is statically added. The script `logo.js` will add the symbol part of the 
    logo.

    @author Michael Eichberg
    @version 2024-07-18
*/
#ld-main-pane .ld-slide:has(h1) {

    &:not(.animated-symbol)::before {
        content: var(--dhbw-logo);

        position: absolute;
        right: 48px;
        bottom: 32px;
        mix-blend-mode: multiply;
    }

    &.animated-symbol::before {
        content: var(--dhbw-text);
        /* the real symbol is added programmatically */
    
        position: absolute;
        right: 48px;
        bottom: 32px;
        mix-blend-mode: multiply;
    }
}

:not(#ld-main-pane) .ld-slide:has(h1)::before {
    content: var(--dhbw-logo);

    position: absolute;
    right: 48px;
    bottom: 32px;
}