/* LAYER: behavior */

#ld-document-view {
    /* "display" is controlled by JavaScript: */
    display: none;

    min-width: calc(var(--ld-slide-width) / 3);
    margin: 0 calc(var(--d-font-size) * 0.5);

    overflow: hidden;

    /* for symmetry reasons*/
    @media print {
        margin: 0;
    }

    > ld-section {
        --ld-rendering-mode: section;

        contain: layout paint;

        overflow: hidden;

        &:has(+ ld-section) {
            @media print {
                break-after: page;
            }
        }
    }

    ld-deck {
        display: block;
        /* width and height must not be set! */

        > ld-card-group {
            display: block;
            position: relative;
            /* width and height must not be set! */
        }
    }

    ld-card {
        display: block;
        /* width and height must not be set! */

        /*position: relative / absolute is done by JavaScript*/
        top: 0;
        left: 0;

        &:not(.d-no-clear) {
            clear: both;
        }
    }

    ld-presenter-note {
        display: none;
    }
}
