/* LAYER: behavior */

#ld-slides-pane {
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;

    /*  In general, we don't want accidental interaction with the slides, such 
        as selecting texts/elements when giving a presentation.
        
        However, in the Javascript code we reenable interaction with selected 
        elements such as links to enable inter-slide navigation. */
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    .ld-slide {
        position: absolute;
        /*  To show only one slide, we scale all other slides to a size of 0.
            This makes them effectively invisible without removing them from the 
            DOM as it would be the case when we would set display to none. 
            The latter would also make animations impossible (as of 2023).

            Compared to using the display property (i.e., none <-> block) this 
            has a number of advantages: 
            - counters, e.g., for section titles work as expected.
            - the scale property can be easily animated and enables various 
              animations.
        
            Using "display: hidden" would be an alternative that would support 
            numbering, but would make animations hard(er) (as of 2023). */
        scale: 0;
    }

    /*
    .scrollable
    _________________

    Styling of scrollable elements. In general, it is necessary to put the content which should be scrollable in a div with the class "scrollable".  

    */
    .scrollable {
        /* The user "class". */
        overflow-y: scroll;
        /* The height will be computed by JavaScript depending on the mode. */
    }

}



/*  ----------------------------------------------------------------------------

        Styling the slide number which is adjacent to the slide view.
*/

#ld-slide-number-pane {
    /* set by core: display: none <-> table */
    display: none;

    position: fixed; 
    bottom: 0.25em; 
    right: 0.5em; 

    font-size: 24px; 

    #ld-slide-number {
        /* The following ensures that the number is always visible. */
        color: rgb(0,0,0);
        text-shadow: 1px 1px 1px white; 
    }
}

