/* LAYER: behavior */

/*
    Core styling related to slides that is independent of the view mode.
*/

.ld-slide {

    /*  We need a fixed size for slides to make the content as a whole 
        scalable using the scale property. The scale property is set/updated 
        using Javascript. 

        Conceptually, - for the slides/light-table view - we would like to have 
        some CSS like:
        
            scale: min(calc(100vh/1080px),calc(100vw/1920px)); 
        
        But such CSS computations are not yet supported - at least as of 2024.

        The actual (fixed) size, however, doesn't really matter from 
        LectureDoc's point-of-view, because the content is scaled anyway. 
        Nevertheless, when external content is embededd (in 
        particular images) it makes sense to have a size that resembles a "natural"
        screen resolution to make it meaningful to embed images. 
    */
    width: var(--ld-slide-width);
    height: var(--ld-slide-height);

    overflow: hidden;

    /*
    img {
        Done by JavaScript, to get the correct box dimensions!
        scale: 3;
    }
    */
}

